Repository hmcts/prl-ccd-definitions, pull requests merged in 2021-11, with the labels that each got.

#14 PRL-422
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/AttendingTheHearing.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-14

#8 renamed event to Attending the hearing
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-8

#30 Other gender changes
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-30

#24 PRL-459: added new fixed radio list field and amended some copy
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/pages/TypeOfApplication.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-24

#34 Prl 447 miam event
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/pages/Miam.js
  test/end-to-end/pages/PeopleInTheCase.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/Miam.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-34

#43 Merging PRL-460 and PRL-461 changes
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/PeopleInTheCase.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/ApplicantDetails.js
  test/end-to-end/tests/ChildDetails.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-43

#35 Prl 442 type of application
  README.md
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/config.js
  test/end-to-end/pages/TypeOfApplication.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-35

#41 Prl 446 casename event
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/CaseTypeTab.json
  test/end-to-end/codecept.conf.js
  test/end-to-end/config.js
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/Miam.js
  test/end-to-end/pages/PeopleInTheCase.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/ApplicantDetails.js
  test/end-to-end/tests/CaseNameChange.js
  test/end-to-end/tests/ChildDetails.js
  test/end-to-end/tests/Miam.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-41

#45 updated copy on type of application text box label
  definitions/private-law/json/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-45

#46 Prl 434 hearing urgency
  .gitignore
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  test/end-to-end/config.js
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CaseNameChange.js
  test/end-to-end/tests/HearingUrgency.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-46

#49 PRL-503: Adding new Litigation capacity event
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  package-lock.json
  package.json
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/LitigationCapacity.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/LitigationCapacity.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-49

#53 PRL-477 Other people in the case
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/codecept.conf.js
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  test/end-to-end/pages/PeopleInTheCase.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/OtherPeopleInTheCase.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-53

#58 Prl 502 international element screen and event
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/InternationalElement.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/InternationalElement.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-58

#63 Prl 504 welsh language requirements as new event
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/codecept.conf.js
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/InternationalElement.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  test/end-to-end/pages/WelshLanguage.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/InternationalElement.js
  test/end-to-end/tests/OtherPeopleInTheCase.js
  test/end-to-end/tests/WelshLanguage.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-63

#64 Feature/prl 465 applicant respondent solicitor
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes.json
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/PeopleInTheCase.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/RespondentDetails.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-64

#65 Prl 509 child details refinement
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes.json
  test/end-to-end/pages/ChildDetails.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-65
