Repository hmcts/prl-ccd-definitions, pull requests merged in 2021-12, with the labels that each got.

#60 adding elasticsearch to helm chart preview template
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/pages/WelshLanguage.js
  test/end-to-end/tests/RespondentDetails.js
  test/end-to-end/tests/WelshLanguage.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-60

#69 Other proceedings event is added
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/pages/PeopleInTheCase.js
  test/end-to-end/pages/otherProceedings.js
  test/end-to-end/pages/safeguardingAndRiskOfHarm/safeguardingAndRiskOfHarm.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/otherProceedings.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-69

#66 Prl 505 - allegations of harm event
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
  test/end-to-end/pages/PeopleInTheCase.js
  test/end-to-end/pages/allegationsOfHarm.js
  test/end-to-end/tests/allegationsOfHarm_test.js
  test/end-to-end/tests/safeguardingAndRiskOfHarm_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-66

#71 Update package.json
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  package.json
  test/end-to-end/steps_file.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-71

#68 Field renaming for data model
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  definitions/private-law/json/SearchInputFields.json
  definitions/private-law/json/SearchResultFields.json
  definitions/private-law/json/WorkBasketInputFields.json
  definitions/private-law/json/WorkBasketResultFields.json
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/InternationalElement.js
  test/end-to-end/pages/Miam.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  test/end-to-end/pages/PeopleInTheCase.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/pages/UploadDocuments.js
  test/end-to-end/pages/WelshLanguage.js
  test/end-to-end/pages/allegationsOfHarm.js
  test/end-to-end/pages/otherProceedings.js
  test/end-to-end/pages/safeguardingAndRiskOfHarm/safeguardingAndRiskOfHarm.js
  test/end-to-end/tests/otherProceedings.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-68

#72 Updated label from submit to save and continue
  definitions/private-law/json/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/InternationalElement.js
  test/end-to-end/pages/LitigationCapacity.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/pages/UploadDocuments.js
  test/end-to-end/pages/WelshLanguage.js
  test/end-to-end/pages/allegationsOfHarm.js
  test/end-to-end/pages/otherProceedings.js
  test/end-to-end/pages/safeguardingAndRiskOfHarm/safeguardingAndRiskOfHarm.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-72

#77 Prl 506 view pdf application
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  test/end-to-end/pages/ViewPDFApplication.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/ViewPDFApplication.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-77

#81 removed unwanted fields and fixed issue
  Jenkinsfile_CNP
  definitions/private-law/json/CaseEventToComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-81
