Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-10, with the labels that each got.

#578 ISDB-405
  definitions/private-law/json/AuthorisationCaseField/AddCaseNote/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AddCaseNoteTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationPayment/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Bulkscan/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C1ADocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Court/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DocumentGenerationLanguage/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/FinalDocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersAmendOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersUploadOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/MessagesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/PartiesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ResetPin/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceRequest/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SubmitAndPay/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/citizen/KeepDetailsPrivate/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-578

#572 Global Search Changes
  build.gradle
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseField/GlobalSearch/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState/GlobalSearch/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseField/GlobalSearch/CaseField.json
  definitions/private-law/json/RoleToAccessProfiles.json
  definitions/private-law/json/SearchCriteria.json
  definitions/private-law/json/SearchParty.json
  package.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-572

#590 Removed duplicate entries for caseManagementLocation
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-590

#591 SearchPartyDOB fix for Global Search
  definitions/private-law/json/SearchParty.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-591

#580 updated the event - internationalElement
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenFlags/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-580

#593 Feature/prl 2117 review and submit
  definitions/private-law/json/AuthorisationCaseEvent/Citizen/RespondentResponseToCase/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-593

#604 Fix the master build
  Jenkinsfile_CNP
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-604

#587 Allowing "Pending" cases to be accessible to caseworkers with roles courtadmin & superuser
  definitions/private-law/json/AuthorisationCaseState.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-587

#541 Store data to backend
  definitions/private-law/json/AuthorisationCaseEvent/Citizen/CitizenResponseC7Document/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Citizen/RespondentResponseToCase/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SummaryTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/citizen/CitizenResponseC7Documents/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/citizen/CitizenResponseC7Documents/CaseField.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenFlags/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenUploadedDocument/UploadedDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/ResponseDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-541

#611 Consolidated AuthorisationCaseState in to one file
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseState/GlobalSearch/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-611

#618 Functional and WA fix
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/Applicantdetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Applicantdetails/amend/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/AttendingTheHearing/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/AttendingTheHearing/amend/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/CaseNameForFL401/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Casename/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Court/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 8 - C49/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentDetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentDetails/amend/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-618

#620 Added smoke test addiotional tests
  test/smoke/config.js
  test/smoke/pages/CaseList.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-620

#622 Fix for smoke test
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-622

#614 FPET-184- Accessbility test failures fix
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/DOScreens/DaWithoutNoticeOrder.js
  test/end-to-end/pages/TypeOfApplication.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-614

#634 Reverting Publish True for Work Allocation
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/Applicantdetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Applicantdetails/amend/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/AttendingTheHearing/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/AttendingTheHearing/amend/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/CaseNameForFL401/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Casename/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Court/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/IssueAndSendToLocalCourt/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 8 - C49/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentDetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentDetails/amend/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-634

#511 Dynamic multiselect list
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/ConfirmRecipients/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/OrdersToServeSA/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 4 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/ComplexTypes/Child/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/ConfirmRecipients/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/OrdersToServeSA1/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-511

#608 Feature/isdb 422
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Bulkscan/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/EdgeCase/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/EdgeCase/CaseField.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-608
