Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-02, with the labels that each got.

#133 Prl 669 documents tab
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ProceedingDetails/ComplexTypes.json
  package.json
  test/end-to-end/pages/TypeOfApplication.js
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-133

#137 Update CaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseField.json
  test/end-to-end/pages/ChildDetails.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-137

#146 Update README.md
  README.md
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/ComplexTypes/Court/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-146

#123 Feature/prl 619 send to local court
  definitions/private-law/json/AuthorisationCaseEvent/IssueAndSendToLocalCourt/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/IssueAndSendToLocalCourt/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/IssueAndSendToLocalCourt/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/ComplexTypes/localCourtAdminEmail/ComplexTypes.json
  definitions/private-law/json/State.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-123

#140 Prl 746 respondent behaviour screens
  definitions/private-law/json/AuthorisationCaseEvent/RespondentsBehaviour/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentBehaviour/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentsBehaviour/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes/RespondentBehaviour/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
  test/end-to-end/pages/DOScreens/RespondentBehaviour.js
  test/end-to-end/pages/ManageDocuments.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/RespondentBehaviour.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-140

#158 Enable jenkins nightly build
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-158

#155 Feature/prl 745 applicant family details
  definitions/private-law/json/AuthorisationCaseEvent/ApplicantFamilyDetailsFL401/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantChildDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantFamilyDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/FL401ApplicantFamilyDetails/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes/FL401ApplicantChildDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401ApplicantFamilyDetails/ComplexTypes.json
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/DOScreens/ApplicantsFamily.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/ApplicantsFamily.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-155

#143 Prl 706 fl401 type of application
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseEvent/FL401TypeOfApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401TypeOfApplication/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/FL401TypeOfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes/FL401TypeOfApplication/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/TypeOfAppliation.js
  test/end-to-end/tests/TypeOfApplication.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-143

#157 Prl 530 fl401 respondent details
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401RespondentDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/Applicantdetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentDetails/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/RespondentDetails.js
  test/end-to-end/tests/WelshLanguage.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-157

#153 Prl 743 applicant relationship to respondent
  definitions/private-law/json/AuthorisationCaseEvent/RespondentRelationshipFL401/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentRelationship/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentRelationship/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes/RespondentRelationship/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/pages/DOScreens/RelationshipToRespondent.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/RelationshipToRespondent.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-153

#167 Feature/prl 709 without notice order
  .gitignore
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/AuthorisationCaseEvent/WithoutNoticeOrder/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/withoutnoticehearing/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/WithoutNoticeOrder/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/WithoutNoticeOrder/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/ComplexTypes/WithoutNoticeOrder/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
  test/end-to-end/pages/DOScreens/DaWithoutNoticeOrder.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/WithoutNoticeOrder_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-167

#154 initial c1a document commit
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-154

#168 Origin/prl 673 case summary tab
  definitions/private-law/json/AuthorisationCaseEvent/WithDrawApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/internal-update-all-tabs/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SummaryTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/WithdrawApplication/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SubmitAndPay/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/WithDrawApplication/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/SummaryTab/CaseField.json
  definitions/private-law/json/CaseField/WithdrawApplication/CaseField.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/SummaryTab/AllegationOfHarm/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/AllocatedJudge/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/CaseStatus/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/ConfidentialityDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/DateSumittedToHMCTS/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/OrderAppliedFor/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/OtherProceedings/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/OtherProceedingsEmptyTable/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/SpecialArrangements/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/Urgency/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/WithDrawApplication/ComplexTypes.json
  definitions/private-law/json/State.json
  test/unit/definitions/CaseEvent.test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-168

#200 Prl 671 confidential tab
  definitions/private-law/json/AuthorisationCaseEvent/internal-update-confidential-tab/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/ApplicationTab/CaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/Applicant/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ChildExtraInfo/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ConfidentialityTab/Applicants/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ConfidentialityTab/Child/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-200
