Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-12, with the labels that each got.

#726 Case Flag changes
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-726

#744 MergeConflict Issue Fix
  definitions/private-law/json/AuthorisationCaseField/BundlesTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseBundles/CaseField.json
  definitions/private-law/json/CaseTypeTab/BundlesTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/BundlesTab/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-744

#745 feat: add caseCreatedBy field (PRLC100-343)
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-745

#732 Case link to demo
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/GlobalSearch/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  definitions/private-law/json/RoleToAccessProfiles.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-732

#751 Case Flag changes
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/CaseFlag/FL401/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/CaseFlag/C100/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/CaseFlag/FL401/CaseEventToFields.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/C100/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/FL401/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-751

#758 ISDB-481
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/FL401/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-758

#738 Smoke test revert fix
  package.json
  test/end-to-end/accessibility/runner.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CaseNameChange.js
  test/end-to-end/tests/SubmitAndPayCA.js
  test/end-to-end/tests/SubmitAndPayDO.js
  test/smoke/helpers/generalHelper.js
  test/smoke/pages/CreateCase.js
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-738

#770 Revert "Case file view"
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseType/CaseFileView/AuthorisationCaseType.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-770

#755 Feature/case flag release 6th dec
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/CaseFlag/FL401/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/CaseFlag/C100/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/CaseFlag/FL401/CaseEventToFields.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-755

#774 ISDB-481
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-774

#597 Respondent solicitor miam
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitorMiam/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitorMiam/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitorMiam/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitorMiam/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitorMiam/CaseField.json
  definitions/private-law/json/ComplexTypes/RespondentSolicitor/SolicitorMiam/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-597

#612 added configurations for proceedings
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitorAbilityToPartcipateInProceedings/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitorAbilityToPartcipateInProceedings/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitorAbilityToPartcipateInProceedings/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitorAbilityToPartcipateInProceedings/CaseField.json
  definitions/private-law/json/ComplexTypes/RespondentSolicitor/SolicitorAbilityToPartcipateInProceedings/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-612

#632 current or past proceedings is added for respondent solicitor
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitorProceedings/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitorProceedings/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitorProceedings/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitorProceedings/CaseField.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-632

#623 confirm or edit your contact details screens for respondent solicitor
  definitions/private-law/json/AuthorisationCaseEvent/ConfirmOrEditDetails/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitorConfirmDetails/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitorConfirmDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitorConfirmDetails/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitorConfirmDetails/CaseField.json
  definitions/private-law/json/ComplexTypes/RespondentSolicitor/ConfirmEditContactDetails/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-623

#782 Case Flage Changes
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-782

#777 added for case file view
  Jenkinsfile_CNP
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-777

#785 refresh issue change
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-785

#780 NOC - Respondent journey
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/TestEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/NoticeOfChange/NoticeOfChangeParties/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/NoticeOfChange/RespondentPolicy/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/TestEvent/CaseEventToFields.json
  definitions/private-law/json/CaseField/AddCaseNote/CaseField.json
  definitions/private-law/json/CaseField/NoticeOfChange/NoticeOfChangeParties/CaseField.json
  definitions/private-law/json/CaseField/NoticeOfChange/RespondentPolicy/CaseField.json
  definitions/private-law/json/CaseRoles.json
  definitions/private-law/json/ChallengeQuestion.json
  definitions/private-law/json/ComplexTypes/NoticeOfChangeParties/ComplexTypes.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
  test/end-to-end/accessibility/runner.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-780

#787 Case file view update
  definitions/private-law/json/AuthorisationCaseState.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-787

#792 Bundling Transition page changes
  definitions/private-law/json/AuthorisationCaseField/BundlesTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/CreateBundle/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CreateBundle/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseBundles/CaseField.json
  definitions/private-law/json/ComplexTypes/BundlesTab/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-792

#741 Prl 2736 filter courts
  definitions/private-law/json/AuthorisationCaseField/Lrd/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/IssueAndSendToLocalCourt/CaseEventToFields.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-741

#803 Added for caseevents to fields
  definitions/private-law/json/CaseEventToFields/FL401CaseNumber/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/FL401StatementOfTruthAndSubmit/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/IssueAndSendToLocalCourt/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendAndReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendToGatekeeper/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Submit/CaseEventToFields.json
  test/smoke/pages/CreateCase.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-803

#805 Wa publish
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/FL401CaseNumber/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/FL401StatementOfTruthAndSubmit/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/IssueAndSendToLocalCourt/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendAndReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendToGatekeeper/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Submit/CaseEventToFields.json
  test/smoke/pages/CreateCase.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-805

#806 Case flag issue
  definitions/private-law/json/ComplexTypes/FlagDetail/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Flags/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-806

#807 Case flag issue
  definitions/private-law/json/ComplexTypes/FlagDetail/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Flags/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-807

#795 Bundling pre submit button Screen changes
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/BundlesTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/CreateBundle/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CreateBundle/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseBundles/CaseField.json
  definitions/private-law/json/ComplexTypes/BundlesTab/ComplexTypes.json
  package.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-795
