Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-07, with the labels that each got.

#472 FPET-64 nightly build fix
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-472

#474 Nightly build fix
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-474

#470 Update package.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/FL404/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/FL404B/CaseEventToComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-470

#492 Fpet 59
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-492

#483 Feature/fpet 46 caselist changes
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/SearchResultFields.json
  definitions/private-law/json/WorkBasketResultFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-483

#482 Case amendments fix for old cases
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageDocuments/CaseField.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-482

#477 Update package.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C1ADocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/FinalDocument/AuthorisationCaseField.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-477

#498 Release 2.1 fix
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C1ADocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/FinalDocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 11 - FL404/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 12 - FL404B/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageDocuments/CaseField.json
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-498

#463 cross browser array removed
  Jenkinsfile_nightly
  bin/run-crossbrowser-tests.sh
  saucelabs.conf.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-463

#501 Fpet 86
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-501

#500 fixed SNI-1241 Removed static label
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersUploadOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 4 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrdersUploadOrder/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-500

#510 Added suppressions
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-510

#513 FPET-96 changes
  test/end-to-end/pages/CaseName.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-513
