Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-01, with the labels that each got.

#79 CaseId and Case Name
  definitions/private-law/json/WorkBasketResultFields.json
  test/end-to-end/pages/ViewPDFApplication.js
  test/end-to-end/tests/ViewPDFApplication.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-79

#98 Fee and pay changes are added
  definitions/private-law/json/AuthorisationCaseEvent/SubmitAndPay/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/SubmitAndPay/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/SubmitAndPay/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  definitions/private-law/json/State.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-98

#100 Prl 603 screen refinement part1
  build/ccd-development-config/ccd-prl-dev.xlsx
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/AttendingTheHearing/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/AllegationsOfHarm/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes/InterpreterNeed/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/pages/allegationsOfHarm.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-100

#102 Feature/prl 568 case list sort
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/WorkBasketResultFields.json
  test/end-to-end/pages/Login.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-102

#110 Feature/prl 686 child screen refinement
  definitions/private-law/json/CaseEventToComplexTypes/ChildDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherPersonWhoLiveWithChild/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/Child/ComplexTypes.json
  test/end-to-end/pages/ChildDetails.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-110

#118 Prl 688 other people
  definitions/private-law/json/CaseEventToComplexTypes/OtherPeopleInTheCase/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-118

#121 Prl 731 draft document generation
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ViewPdfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-121

#122 Prl618 add case num
  definitions/private-law/json/AuthorisationCaseEvent/CaseNumber/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/CaseNumber/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-122

#114 Prl 668 document draft link submit and pay
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/AllegationsOfHarm/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/AttendingTheHearing/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherProceedings/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/UpdateCourtDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SubmitAndPay/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes/Behaviours/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Child/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/InterpreterNeed/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/WelshNeed/ComplexTypes.json
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-114

#125 Prl 610 ctsc case worker return application
  definitions/private-law/json/AuthorisationCaseEvent/ReturnApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ReturnApplication/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/FixedLists.json
  definitions/private-law/json/State.json
  test/end-to-end/pages/ReturnApplication.js
  test/end-to-end/pages/allegationsOfHarm.js
  test/resource/returnApplicationContent.txt
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-125

#127 Prl 637 manage documents
  definitions/private-law/json/AuthorisationCaseEvent/AttachScannedDocuments/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/HandleEvidence/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ManageDocuments/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/AttachScannedDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HandleEvidence/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/ComplexTypes/Correspondence/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FurtherEvidence/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/OtherDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ScannedDocument/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  test/end-to-end/pages/ManageDocuments.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/ManageDocuments.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-127

#130 Fix role and event issues
  definitions/private-law/json/AuthorisationCaseEvent/SubmitAndPay/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-130

#124 PRL-802-bypass-fee-pay
  definitions/private-law/json/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/SubmitAndPay/CaseEventToFields.json
  definitions/private-law/json/CaseField.json
  definitions/private-law/json/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/UserInfo/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-124
