Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-05, with the labels that each got.

#378 Release 1 1 feature dev
  build.gradle
  definitions/private-law/json/AuthorisationCaseEvent/IssueAndSendToLocalCourt/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReturnApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Submit/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Fl401StatementOfTruthAndSubmit/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/Submit/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/Applicantdetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/FL401ApplicantFamilyDetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/FL401StatementOfTruthAndSubmit/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/FL401TypeOfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentDetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentRelationship/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentsBehaviour/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Submit/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SubmitAndPay/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/TheHome/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/TypeOfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/WithoutNoticeOrder/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/fl401OtherProceedings/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/Submit/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Messages/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/TypeOfApplication/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401TypeOfApplication/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package-lock.json
  package.json
  test/end-to-end/accessibility/runner.js
  test/end-to-end/crossbrowser/supportedBrowsers.js
  test/end-to-end/helpers/SauceLabsReportingHelper.js
  test/end-to-end/helpers/puppeterHelper.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/steps_file.js
  test/functional/codecept.conf.js
  test/functional/steps_file.js
  test/smoke/steps_file.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-378

#318 PRL-1020:Added changes for Tabs and nextstep dropdown for gatekeeper …
  definitions/private-law/json/AuthorisationCaseEvent/FL401CaseNumber/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Gatekeeper/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReturnApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/SendAndReplyToMessages/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/MessagesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceRequest/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/ServiceRequest/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/PartiesTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ServiceRequest/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  saucelabs.conf.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-318

#335 Prl 1138 manage order
  definitions/private-law/json/AuthorisationCaseEvent/ManageOrders/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersUploadOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/ManageOrdersUploadOrder/CaseField.json
  definitions/private-law/json/FixedLists.json
  definitions/private-law/json/State.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-335

#338 PRL-1123
  definitions/private-law/json/AuthorisationCaseEvent/SendAndReplyToMessages/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ConfidentialityTab/fl401Child/ComplexTypes.json
  saucelabs.conf.js
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-338

#339 Rebased the changes with release-2
  definitions/private-law/json/AuthorisationCaseField/SummaryTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/SummaryTab/CaseField.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/SummaryTab/TypeOfApplication/ComplexTypes.json
  package.json
  saucelabs.conf.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-339

#391 Release 2 fixed
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  test/unit/utils/assertBuilders.js
  test/unit/utils/utils.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-391

#374 Feature/CVE fix
  package-lock.json
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-374

#345 add case note event added
  definitions/private-law/json/AuthorisationCaseEvent/AddCaseNote/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AddCaseNote/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AddCaseNoteTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/AddCaseNotes/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/AddCaseNote/CaseEventToFields.json
  definitions/private-law/json/CaseField/AddCaseNote/CaseField.json
  definitions/private-law/json/CaseField/AddCaseNoteTab/CaseField.json
  definitions/private-law/json/CaseTypeTab/AddCaseNote/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/AddCaseNote/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-345

#372 Prl 1150 ca da manage orders c21
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersUploadOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseTypeTab/Orders/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
  saucelabs.conf.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-372

#364 Prl 1197 c47a
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  saucelabs.conf.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-364

#341 Enabled Application tab for FL401
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/Fl401/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/ApplicationTab/CaseField.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/C100ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/Fl401ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/PartiesTab/FL401Parties/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ApplicantFamily/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ChildInfo/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401Applicant/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401OtherProceedingsDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401Respondent/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401SolicitorDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/Fl401TypeOfApplication/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/HomeDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/RelationshipToRespondent/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/RespondentBehaviour/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/WithoutNoticeOrder/ComplexTypes.json
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-341

#396 Prl 1322 pin generation
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CaseInvite/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseInvite/CaseField.json
  definitions/private-law/json/ComplexTypes/CaseInvite/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-396

#375 Prl poc 1323
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/FixedLists.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-375

#383 Prl 1222 n117
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C47A/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/N117/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/N117/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/C47A/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/N117/CaseField.json
  definitions/private-law/json/FixedLists.json
  package.json
  saucelabs.conf.js
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-383

#380 PRL-1311:added changes for docmosis template
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/N117/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-380

#418 Release 2 manage order fix
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-418

#430 Added new event submit and pay
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-430

#431 High level data set up fix
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-431

#432 FL401 Title display changes
  definitions/private-law/json/CaseTypeTab/ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/State.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-432

#433 E2e fix
  Jenkinsfile_CNP
  definitions/private-law/json/CaseEventToFields/WithoutNoticeOrder/CaseEventToFields.json
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/DOScreens/ApplicantsFamily.js
  test/end-to-end/pages/DOScreens/DaWithoutNoticeOrder.js
  test/end-to-end/pages/DOScreens/TheHome.js
  test/end-to-end/pages/ManageDocuments.js
  test/end-to-end/pages/Miam.js
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/tests/SubmitAndPayDO.js
  test/smoke/helpers/generalHelper.js
  test/smoke/pages/CreateCase.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-433

#434 commented the missed discription in miam and Attending the hearing
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/Miam.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-434
