Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-09, with the labels that each got.

#522 [C100-Rebuild] PRLC100-58-59 - Added new case fields for c100 rebuild journey
  definitions/private-law/json/AuthorisationCaseField/C100Rebuild/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/C100Rebuild/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-522

#559 Fpet 138 creating new date time field
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/WorkBasketResultFields.json
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/SubmitAndPay.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-559

#571 WorkAllocation into CourtNav and Citizen
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-571

#573 Fixed SNI-1852 Added field dateSubmittedAndTime
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  test/end-to-end/pages/SubmitAndPay.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-573

#570 Fixed SNI-1860 (c8 draft document not present in confiedntial Tab)
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-570
