Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-06, with the labels that each got.

#438 applicant details fix, updated wait and removed few accessibilty tests
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/InternationalElement.js
  test/end-to-end/pages/LitigationCapacity.js
  test/end-to-end/pages/Miam.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  test/end-to-end/pages/OtherProceedings.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/pages/WelshLanguage.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-438

#426 FPET-18 Added additional court email address for DA application
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-426

#445 Added new email id for DA
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-445

#410 PRL 1452 amend order and orders tab
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersAmendOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 10/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 15/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 25/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 26/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 3/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 6/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 7/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrdersAmendOrder/CaseField.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-410

#407 Prl 1360 multiple magistrates
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-407

#414 Prl 1366 1367 notification
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C43/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/FL402/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/C43/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/FL402/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/C43/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/Fl402/CaseField.json
  package.json
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/Login.js
  test/end-to-end/steps_file.js
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-414

#312 PRL-1112:Added changes for next step events
  definitions/private-law/json/AuthorisationCaseEvent/FL401CaseNumber/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/SendAndReplyToMessages/AuthorisationCaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-312

#386 Prl 1196 latest1
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C45A/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/C45A/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/C45A/CaseField.json
  definitions/private-law/json/FixedLists.json
  package.json
  saucelabs.conf.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-386

#389 Prl 1196
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-389

#398 Prl 1194 c43 latest
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-398

#408 Feature/1247 withdraw request approval
  definitions/private-law/json/AuthorisationCaseEvent/WithDrawApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-408

#435 withdrawn request disapproved
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-435

#429 Prl fl400 da manage order
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/FL404/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/C49/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/FL404/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-429

#444 FPET-13 changes to display case list
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/SearchResultFields.json
  definitions/private-law/json/WorkBasketResultFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-444

#454 Fixed smoke tests
  test/smoke/pages/CaseList.js
  test/smoke/steps_file.js
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-454

#437 FPET-28 pre populate court email for c100 application
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-437

#449 added cdam service
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  charts/prl-ccd-definitions/values.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-449

#458 Added few more tests cases in smoke
  test/smoke/pages/CaseList.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-458
