Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-04, with the labels that each got.

#320 created field for solicitor details
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  saucelabs.conf.js
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-320

#328 Removed check for accept analytics cookie
  Jenkinsfile_CNP
  package.json
  test/end-to-end/pages/CreateCase.js
  test/smoke/pages/CreateCase.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-328

#337 Yarn update - dependency suppressed
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-337

#343 Enable high level datasetup
  .gitignore
  Jenkinsfile_CNP
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package.json
  sonar-project.properties
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  src/test/java/uk/gov/hmcts/reform/prl/DemoUnitTest.java
  test/end-to-end/pages/TypeOfApplication.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-343

#348 Fix Crossbrowser scripts on nightly build
  .eslintignore
  Jenkinsfile_nightly
  bin/run-crossbrowser-tests.sh
  saucelabs.conf.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/Login.js
  test/end-to-end/steps_file.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-348

#349 Update package.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Court/AuthorisationCaseField.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-349

#351 Documents tab fixes
  definitions/private-law/json/CaseField/FL401UploadDocuments/CaseField.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-351
