Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-11, with the labels that each got.

#645 Added accessibility and smoke test fixes
  Jenkinsfile_CNP
  build.gradle
  test/end-to-end/accessibility/runner.js
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-645

#639 dummy change to raise PR for testing.
  build.gradle
  package.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-639

#651 Cafcass release demo 1st november
  build.gradle
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Bulkscan/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/EdgeCase/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/EdgeCase/CaseField.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-651

#652 Smoke test fix
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-652

#637 Missing labels in AAT for attendingTheHearing
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-637

#655 Added changes to fix accessibility
  Jenkinsfile_CNP
  test/end-to-end/accessibility/runner.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-655

#659 caselinking to demo
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseLinking/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-659

#661 added citizen access to the fields
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-661

#626 Welsh fl404b changes
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 16 - Common (Preview Order)/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-626

#665 Bundling changes for testing in Demo
  definitions/private-law/json/AuthorisationCaseEvent/CreateBundle/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/BundlesTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseBundles/CaseField.json
  definitions/private-law/json/CaseTypeTab/BundlesTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/BundlesTab/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-665

#574 Feature/prlc100 102 case flags changes
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-574

#668 case linking to demo updated
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseLinking/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  definitions/private-law/json/RoleToAccessProfiles.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-668

#543 C100 rebuild create update case
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/C100Rebuild/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/C100Rebuild/CaseField.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-543

#673 Bundling callback changes
  definitions/private-law/json/AuthorisationCaseEvent/CreateBundle/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-673

#679 case links to demo updated
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseLinking/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-679

#682 Bundling DemoTestingChanges
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-682

#686 Em pods config issue fix
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  charts/prl-ccd-definitions/values.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-686

#689 Case linking to demo
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  definitions/private-law/json/RoleToAccessProfiles.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-689

#672 - deleted flaglauncher label field
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-672

#694 Case Flag changes
  charts/prl-ccd-definitions/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-694

#695 Case Flag changes
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-695

#670 Citizen test PR for COS 659
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/Citizen/RespondentResponseToCase/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-670

#692 Prl 2588 lrd base region demo
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Lrd/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/IssueAndSendToLocalCourt/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/GlobalSearch/CaseField.json
  definitions/private-law/json/CaseField/Lrd/CaseField.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/localCourtAdminEmail/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-692

#697 Case linking to demo update
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/RoleToAccessProfiles.json
  definitions/private-law/json/State.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-697

#698 Caselink temp to demo
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/RoleToAccessProfiles.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-698

#675 MI report changes
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-675

#701 Case linking demo
  definitions/private-law/json/RoleToAccessProfiles.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-701

#705 Caselink demo updates
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseLinking/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-705

#706 Case Flag changes
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-706

#710 Case linking demo
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-710

#711 Case Flag changes
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-711

#716 Bundling Demo Changes
  definitions/private-law/json/AuthorisationCaseEvent/CreateBundle/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/BundlesTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseBundles/CaseField.json
  definitions/private-law/json/CaseTypeTab/BundlesTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/BundlesTab/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-716

#719 Case linking to demo
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-719

#720 case link to demo
  definitions/private-law/json/RoleToAccessProfiles.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-720

#709 Chart upgrade for ccd-defn
  charts/prl-ccd-definitions/Chart.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-709

#722 Case Flag changes
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-722

#724 Case Flag changes
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-724

#727 Case link to demo
  definitions/private-law/json/AuthorisationCaseField/GlobalSearch/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  definitions/private-law/json/RoleToAccessProfiles.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-727

#729 Case link to demo
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-729

#714 Release 3 0 rebase
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/Citizen/RespondentResponseToCase/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/CreateBundle/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/BundlesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 16 - Common (Preview Order)/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseBundles/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseTypeTab/BundlesTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/BundlesTab/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/ResponseDocuments/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-714

#733 Smoke test refactored.
  test/end-to-end/accessibility/runner.js
  test/smoke/pages/CreateCase.js
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-733

#735 Smoke test refactored.
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CaseNameChange.js
  test/end-to-end/tests/SubmitAndPayCA.js
  test/end-to-end/tests/SubmitAndPayDO.js
  test/smoke/helpers/generalHelper.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-735
