Repository hmcts/prl-ccd-definitions, pull requests merged in 2022-08, with the labels that each got.

#516 FPET-106 changes to upgrade ccd charts version
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-516

#507 FPEt-62 share case story changes
  Jenkinsfile_CNP
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  charts/prl-ccd-definitions/values.yaml
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/AuthorisationComplexType.json
  definitions/private-law/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SolicitorCreate/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseRoles.json
  package.json
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-507

#486 Prl 1417 da applicant soliciter latest
  definitions/private-law/json/AuthorisationCaseEvent/FL401CaseNumber/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/Fl401/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401SolicitorDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-486

#439 Prl 1536 applcant access code
  definitions/private-law/json/AuthorisationCaseEvent/ResetPin/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseInvite/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ResetPin/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ResetPin/CaseEventToFields.json
  definitions/private-law/json/CaseField/ResetPin/CaseField.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/C100ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/State.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-439

#520 FPET-109 accisibility test issue fix
  test/end-to-end/pages/CaseName.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-520

#523 Update the Chart versions for the ccd defn
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-523

#525 Added renovate
  renovate.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-525

#494 Release 2 serve parties
  build/ccd-development-config/ccd-prl-dev.xlsx
  definitions/private-law/json/AuthorisationCaseEvent/FL401CaseNumber/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ResetPin/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ServiceOfApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/Fl401/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CaseInvite/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ResetPin/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/ConfirmRecipients/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/OrdersToServeSA/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ResetPin/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseField/ResetPin/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/C100ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401SolicitorDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Correspondence/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FurtherEvidence/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/OtherDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/ConfirmRecipients/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/OrdersToServeSA1/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  definitions/private-law/json/State.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-494

#503 Courtnav user
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C1ADocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CourtNav/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DocumentGenerationLanguage/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/FinalDocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Fl401StatementOfTruthAndSubmit/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/fl401OtherProceedings/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/withoutnoticehearing/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/CourtNav/CaseField.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/FL401StatementOfTruthAndSubmit/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-503

#457 made changes for new documents
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/C1ADocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/C1ADocument/CaseField.json
  definitions/private-law/json/CaseField/C8Document/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-457

#540 Fpet 115
  README.md
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-540

#517 updated the organisation locator element
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/RespondentDetails.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-517

#538 Courtnav user
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/Fl401/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CourtNav/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SummaryTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/CourtNav/CaseField.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/FL401StatementOfTruthAndSubmit/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/UploadedDocuments/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-538

#506 Refund feature for caseworker
  definitions/private-law/json/AuthorisationCaseField/ServiceRequest/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-506

#544 Update package.json
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-544
