Repository hmcts/prl-ccd-definitions, pull requests merged in 2023-06, with the labels that each got.

#1309 Rename CAFASS to CAFCASS
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1309

#1215 FPET-475 ccd case migration event changes added
  definitions/private-law/json/AuthorisationCaseEvent/Migration/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1215, PET_TEAM

#1304 Fact ccd
  definitions/private-law/json/AuthorisationCaseField/Lrd/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/Lrd/CaseField.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1304

#1293 SDO updates
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Local Authority/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Urgent hearing and next steps/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page12-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseField/DraftAnOrder/DIO/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/DIO/Hearing and next steps/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/DIO/Local Authority/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Documents and evidence/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Hearing and next steps/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Local Authority/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/1_SdoDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1293

#1314 Gatekeeping wa task creation
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page21/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 30 - Amend Order - Judge Send Admiin/CaseEventToFields.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1314

#1334 Send issue date to cafcass
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1334

#1298 Prl 3565 review submit document
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ReviewDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseField/ReviewDocuments/CaseField.json
  definitions/private-law/json/ComplexTypes/Quarentine/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1298

#1341 date time picker is added for fl401 list on notice
  definitions/private-law/json/CaseEventToComplexTypes/Fl401ListOnNotice/HearingData/CaseEventToComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1341

#1329 PRL-3565 - New quarantine category for Cafcass
  definitions/private-law/json/AuthorisationCaseField/QuarentineTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/QuarantineFields/CaseField.json
  definitions/private-law/json/CaseField/QuarentineFields/CaseField.json
  definitions/private-law/json/CaseField/ReviewDocuments/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Quarantine/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Quarentine/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenUploadedDocument/UploadedDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1329

#1336 Noc-wa-fix
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1336

#1332 amend court details changes
  definitions/private-law/json/CaseEventToFields/Court/CaseEventToFields.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1332

#1324 Respondent solicitor almighty
  definitions/private-law/json/AuthorisationCaseField/NoticeOfChange/NoticeOfChangeParties/caApplicant/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/NoticeOfChange/NoticeOfChangeParties/caRespondent/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/NoticeOfChange/NoticeOfChangeParties/daApplicant/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/NoticeOfChange/NoticeOfChangeParties/daRespondent/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/CaseDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Submit/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/ViewDraftDocument/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/c100ResSol/Submit/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/E/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/E/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/E/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/CaseDocuments/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/Submit/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/ViewDraftDocument/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/Citizen/ResponseDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/RespondentSolicitor/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1324

#1354 Added cafcass user access to C8 document
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1354

#1347 PRL-3881 Send & Reply - Merged open and closed messages into single list
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/CaseTypeTab/Messages/CaseTypeTab.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1347

#1344 AOHChildUpdates
  definitions/private-law/json/AuthorisationCaseField/AllegationsOfHarmRevised/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/AllegationsOfHarmRevised/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/AllegationsOfHarmRevised/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/AllegationsOfHarmRevised/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/AllegationsOfHarmRevised/amend/CaseEventToFields.json
  definitions/private-law/json/CaseField/AllegationsOfHarmRevised/CaseField.json
  definitions/private-law/json/ComplexTypes/AllegationsOfHarmRevised/ChildAbuse/ComplexTypes.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1344

#1327 Prl 3799 sdo latest updates
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Preambles/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Urgent hearing and next steps/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Hearing and next steps/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Preambles/CaseField.json
  definitions/private-law/json/ComplexTypes/DraftAnOrder/SDO/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/1_SdoDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1327

#1358 Soa feature
  definitions/private-law/json/AuthorisationCaseEvent/internal-update-all-tabs/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationPayment/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Bulkprint/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/PartiesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/confirmRecipients/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/ConfirmRecipients/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - CA/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - DA/CaseEventToFields.json
  definitions/private-law/json/CaseField/BulkPrint/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/confirmRecipients/CaseField.json
  definitions/private-law/json/CaseTypeTab/ServiceOfApplication/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ServedApplicationDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/ConfirmRecipients/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1358

#1374 Adding back Confirm recipients field to work for older cases
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/confirmRecipients/CaseField.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/ConfirmRecipients/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1374

#1284 PRL-3560:Added element to show the party id
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1284
