Repository hmcts/prl-ccd-definitions, pull requests merged in 2023-02, with the labels that each got.

#940 PartyDetails UUID impl for CCD in DummyDemo
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-940

#947 case file view configs
  Jenkinsfile_CNP
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseField/C1ADocument/CaseField.json
  definitions/private-law/json/CaseField/C8Document/CaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/CourtNav/CaseField.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/CaseField/FL401UploadDocuments/CaseField.json
  definitions/private-law/json/CaseField/FinalDocument/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/ManageOrdersAmendOrder/CaseField.json
  definitions/private-law/json/CaseField/ManageOrdersUploadOrder/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/ViewDraftDocument/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/CaseField/SubmitAndPay/CaseField.json
  definitions/private-law/json/CaseField/ViewPdfApplication/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenUploadedDocument/UploadedDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/ResponseDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Correspondence/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401ProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FurtherEvidence/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrderServeOrder/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/OtherDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ScannedDocument/ComplexTypes.json
  definitions/private-law/json/RoleToAccessProfiles.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-947

#958 initial commit for cos change
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-958

#982 updated RetainHiddenValue
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-982

#984 Feature/func ccd release 3 5
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-984

#978 func test for ccd
  README.md
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-978

#985 Release 3 1 bug fixes dummy
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/NoticeOfChange/NOCRequest/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/RespondentTasksTab/CaseTypeTab.json
  test/functional/admin_test.js
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-985

#990 Wa publish sairam demo
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/ConfirmRecipients/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/OrdersToServeSA/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page13-FL402/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 18 - Common (Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 4 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendAndReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/ComplexTypes/Child/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/ConfirmRecipients/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/OrdersToServeSA1/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-990

#995 Feature/cafcass to release 3 5 demo
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AddCaseNote/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AddCaseNoteTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationPayment/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Bulkscan/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C1ADocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Court/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DocumentGenerationLanguage/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/FinalDocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersAmendOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersUploadOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/MessagesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/PartiesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ResetPin/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceRequest/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SubmitAndPay/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/citizen/KeepDetailsPrivate/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-995

#997 added changes to hide and show serve order screen.
  Jenkinsfile_CNP
  README.md
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersAmendOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 15 - Amend Order (2)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 16 - Amend Order (3)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 17 - Amend Order (4)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 19 - Common (Order Recipients)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 20 - Upload order(When to serve)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 24 - Amend Order - Judge Send Admiin/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 4 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseField/C1ADocument/CaseField.json
  definitions/private-law/json/CaseField/C8Document/CaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/CourtNav/CaseField.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/CaseField/FL401UploadDocuments/CaseField.json
  definitions/private-law/json/CaseField/FinalDocument/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/ManageOrdersAmendOrder/CaseField.json
  definitions/private-law/json/CaseField/ManageOrdersUploadOrder/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/ViewDraftDocument/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/CaseField/SubmitAndPay/CaseField.json
  definitions/private-law/json/CaseField/ViewPdfApplication/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenUploadedDocument/UploadedDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/ResponseDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Correspondence/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401ProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FurtherEvidence/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrderServeOrder/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/OtherDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ScannedDocument/ComplexTypes.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-997

#989 manage order upload
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 4 - Common/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-989

#1017 Global search updates to release
  definitions/private-law/json/RoleToAccessProfiles.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1017

#1004 case link enhancement
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseLinking/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1004

#1011 Rebase from WA-Release-3-5-demo
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page1/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1011

#1018 Global search updates to demo
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1018

#1023 Node update
  charts/prl-ccd-definitions/Chart.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1023

#1025 Case file view enhancement
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/CurrentOrPreviousProceedings/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/ProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RaespondentSolicitor/AllegationsOfHarm/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RaespondentSolicitor/RespondentProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401ProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrderServeOrder/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/UploadAdditionalApplications/1_DraftOrder/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1025

#1015 Manage order - Upload & Amend order
  README.md
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 20 - Upload order(When to serve)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 21 - Common (Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1015

#1016 Added a new event for citizen case submit with hwf
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1016

#943 Bug fixes for 3.1
  README.md
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/AuthorisationCaseEvent/NoticeOfChange/NOCRequest/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/RespondentTasksTab/CaseTypeTab.json
  test/functional/admin_test.js
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-943

#1013 Fpet 280 gatekeeper recent
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SendToGatekeeper/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/SendToGatekeeper/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SendToGatekeeper/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/SendToGatekeeper/CaseField.json
  definitions/private-law/json/ComplexTypes/SendToGatekeeper/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1013

#1030 changing testcase
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1030

#917 [DO NOT MERGE] C100-Rebuild Release 4.0 Changes - WIP
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/C100Rebuild/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseField/C100Rebuild/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-917

#975 updated field type for additionalApplicantsList
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 18 - Common (Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-975

#1005 FPET-312 Allocated Judge screen changes
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AllocatedJudge/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AllocatedJudge/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SendToGatekeeper/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/SendToGatekeeper/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/AllocatedJudge/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendToGatekeeper/CaseEventToFields.json
  definitions/private-law/json/CaseField/AllocatedJudge/CaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/SendToGatekeeper/CaseField.json
  definitions/private-law/json/ComplexTypes/AllocatedJudge/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SendToGatekeeper/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/AllocatedJudge/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1005

#1045 ITHC Vulnerabilites fix
  test/end-to-end/reporters/accessibility-reporter/resources/angular.min.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1045

#1044 Courtnav case creation issue fixes
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1044

#1042 PRL-3186 - Added new field contactPreferences in PartyDetails for applicants contact preferences
  definitions/private-law/json/ComplexTypes/ApplicationTab/Applicant/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1042

#1060 ISDB-596 Next hearing date
  definitions/private-law/json/AuthorisationCaseEvent/UpdateNextHearingDate/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/NextHearingDetails/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/UpdateNextHearingDate/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseField/NextHearingDetails/CaseField.json
  definitions/private-law/json/ComplexTypes/NextHearingDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1060

#1058 hearings api failure events removed
  definitions/private-law/json/AuthorisationCaseEvent/HearingUpdate/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1058

#1052 Prl 3095/feature create an order parental responsibility order
  definitions/private-law/json/CaseField/ManageOrders/C45A/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1052
