Repository hmcts/prl-ccd-definitions, pull requests merged in 2023-12, with the labels that each got.

#1701 Prl 4738 accessibility tests
  env.json
  test/end-to-end/accessibility/runner.js
  test/end-to-end/crossbrowser/supportedBrowsers.js
  test/end-to-end/pages/AmendApplicantDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/ChildrenRelationships.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/DOScreens/ApplicantsFamily.js
  test/end-to-end/pages/DOScreens/TheHome.js
  test/end-to-end/pages/HearingRequest.js
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/InternationalElement.js
  test/end-to-end/pages/LitigationCapacity.js
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/ManageOrderHearing.js
  test/end-to-end/pages/Miam.js
  test/end-to-end/pages/OtherChildrenNotInCase.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  test/end-to-end/pages/OtherProceedings.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/pages/SendMsgScreens/SendMsg.js
  test/end-to-end/pages/StatementOfTruth.js
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/pages/UploadAdditionalApplications.js
  test/end-to-end/pages/UploadFLDocuments.js
  test/end-to-end/pages/ViewPDFApplication.js
  test/end-to-end/pages/WithdrawApplication.js
  test/end-to-end/pages/allegationsOfHarm.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1701

#1716 FIXED SNI-5061 Case validation error
  definitions/private-law/json/CaseField/ApplicationTab/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1716

#1656 access and state
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/SolicitorStopRepresenting/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/SolicitorStopRepresenting/CaseEvent-prod.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1656

#1642 PRL-4599- MVP allocated judge legal advisor changes
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/AllocatedJudge/CaseEventToFields.json
  definitions/private-law/json/CaseField/AllocatedJudge/CaseField.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1642

#1690 feature(prl-4451/events_for_solicitors_issued_new)
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1690

#1737 AAC Challenge fix
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseEventToFields/SolicitorCreate/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/TestingSupport/AdminCreate/CaseEventToFields-nonprod.json
  definitions/private-law/json/CaseEventToFields/TestingSupport/SolicitorCreate/CaseEventToFields-nonprod.json
  definitions/private-law/json/CaseField/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1737

#1666 PRL-4467_Events_Court_Admin_submittedt
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-prod.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1666

#1749 Updated tests for new manage order flow
  env.json
  test/end-to-end/accessibility/runner.js
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
  test/end-to-end/pages/ManageOrderHearing.js
  test/end-to-end/pages/ManageOrders.js
  test/end-to-end/pages/MoveCaseToGateKeeping.js
  test/end-to-end/pages/PowerofarrestFL406.js
  test/end-to-end/pages/SolicitorDraftOrder.js
  test/end-to-end/pages/UploadAdditionalApplications.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1749

#1756 removing date selection as field is selected by default
  env.json
  test/end-to-end/pages/ManageOrderHearing.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1756

#1753 Fix/broken noc challenges
  definitions/private-law/json/CaseEvent/TestingSupport/CaseEvent-nonprod.json
  definitions/private-law/json/CaseField/NoticeOfChange/NOCRequest/CaseField.json
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-ccd-definitions-pr-1753

#1706 PRL-4444-4447: State and event model changes
  definitions/private-law/json/CaseEvent/Order/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-prod.json
  definitions/private-law/json/CaseEvent/SolicitorStopRepresenting/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/SolicitorStopRepresenting/CaseEvent-prod.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1706

#1746 fixed amend child details
  definitions/private-law/json/AuthorisationCaseField/ChildDetailsRevised/AuthorisationCaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1746

#1750 Dynamic task list changes
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1750

#1704 Label change
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1704

#1752 Priority fix - Display add order directions field in common page to all orders except SDO
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1752

#1736 FPET-799 data migration changes
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1736

#1768 update lable text to new requirement
  env.json
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1768

#1762 Fix - remove order directions field for upload order journey
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1762

#1772 Fpet 548 add da respondent solicitor details
  README.md
  definitions/private-law/json/CaseEventToComplexTypes/FL401RespondentDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401Respondent/ComplexTypes.json
  env.json
  test/end-to-end/pages/AmendApplicantDetails.js
  test/end-to-end/pages/AmendCaseDetails.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/AmendApplicantDetails_test.js
  test/end-to-end/tests/AmendCaseDetails_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1772

#1732 Manage order hearing screen changes
  README.md
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/HearingData/CourtAdmin/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/HearingData/CourtAdmin/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/HearingData/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/HearingData/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm

#1734 prl-4632_service_of_application_update
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1734

#1767 Feature/tech debt code smell fix
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseField/NoticeOfChange/NOCRequest/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, tech-debt, rel:prl-ccd-definitions-pr-1767

#1773 prl-4735/judge-question-for-manage-orders
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1773

#1649 PRL-4540:added new party to upload document
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1649

#1654 PRL-4327 Case file view hide
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1654

#1781 Feature/prl 4381 judge upload
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1781

#1712 PRL-3807 Creation of Orders From Other Proceeding Sub folder
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1712

#1617 PRL-4306 Remv Conf category
  definitions/private-law/json/CaseEvent/CaseEvent.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1617
