Repository hmcts/prl-ccd-definitions, pull requests merged in 2023-05, with the labels that each got.

#1230 Req for Del CCD pr
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/State.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1230

#1234 PRL-3454 - New data model for send & reply message enhancements
  definitions/private-law/json/AuthorisationCaseEvent/sendOrReplyToMessages/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/MessagesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/MessagesTab/CaseField.json
  definitions/private-law/json/CaseField/SendAndReplyToMessages/CaseField.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/CaseTypeTab/Messages/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1234

#1239 Demo ccd pr
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1239

#1250 fixed SNI-3762
  definitions/private-law/json/CaseEventToFields/SubmitAndPay/CaseEventToFields.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1250

#1247 PRL-3458 - reply & close message enhancements
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/CaseTypeTab/Messages/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1247

#1233 PRL-3556 - Send and Reply upgrade - Callbacks to fetch Reference Data…
  README.md
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/CaseTypeTab/Messages/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1233

#1229 Fix respondent journey
  definitions/private-law/json/AuthorisationCaseEvent/TestingSupport/RespondentTaskList/AuthorisationCaseEvent-nonprod.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/InternationalElement/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/KeepDetailsPrivate/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Miam/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/TestingSupport/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/E/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/InternationalElement/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/InternationalElement/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/InternationalElement/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/InternationalElement/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/InternationalElement/E/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/KeepDetailsPrivate/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/KeepDetailsPrivate/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/KeepDetailsPrivate/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/KeepDetailsPrivate/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/KeepDetailsPrivate/E/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/Miam/E/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/InternationalElement/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/InternationalElement/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/InternationalElement/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/InternationalElement/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/InternationalElement/E/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/KeepDetailsPrivate/E/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/AbilityToPartcipateInProceedings/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/InternationalElement/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/KeepDetailsPrivate/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/Miam/CaseField.json
  definitions/private-law/json/ComplexTypes/Citizen/RaespondentSolicitor/AbilityToPartcipateInProceedings/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RaespondentSolicitor/InternationalElement/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1229, NoC

#1236 Prl 3493 add case number latest
  definitions/private-law/json/AuthorisationCaseEvent/Gatekeeper/C100/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Gatekeeper/FL401/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/SendToGatekeeper/C100/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendToGatekeeper/FL401/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1236

#1274 swansea-fix
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page12-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1274

#1264 Update env.json
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1264

#1269 noc-confidentiality-bug-fix
  definitions/private-law/json/AuthorisationCaseField/AddCaseNote/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationPayment/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/Fl401/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/MessagesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/PartiesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/PaymentHistory/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceRequest/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SummaryTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/UploadAdditionalApplications/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1269

#1278 Prod hot fix #3
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1278

#1271 Prl 3529 courtnav fixes
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C100Rebuild/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/DIO/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/DIO/CAFCASS or CAFCASS Cymru/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/DIO/Court/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/DIO/Hearing and next steps/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/DIO/Local Authority/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/DIO/Other/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/DIO/Preambles/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/CAFCASS or CAFCASS Cymru/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Court/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Documents and evidence/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Local Authority/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Other/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Preambles/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Urgent hearing and next steps/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftOrderAdmin/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/EditAndApprove/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Fl401ListOnNotice/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrderServeOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C21/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C43/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C45A/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C47A/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/FL402/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/HearingData/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/N117/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersAmendOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/UploadAdditionalApplications/AuthorisationCaseField.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1271

#1256 Reply message & history changes
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/reply/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/send/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1256

#1251 FPET-447 include amend type of application
  definitions/private-law/json/AuthorisationCaseEvent/ApplicantFamilyDetailsFL401/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/FL401TypeOfApplication/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/WithoutNoticeOrder/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/withoutnoticehearing/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantChildDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantFamilyDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401TypeOfApplication/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/WithoutNoticeOrder/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/FL401ApplicantFamilyDetails/amend/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/FL401TypeOfApplication/amend/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/WithoutNoticeOrder/amend/CaseEventToFields.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1251

#1245 Update env.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/DIO/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/DIO/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page16 -Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page6/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page6/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page17-DOI/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page18-DIO/CaseEventToFields.json
  definitions/private-law/json/CaseField/DraftAnOrder/DIO/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/DIO/Court/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/DIO/Hearing and next steps/CaseField.json
  definitions/private-law/json/ComplexTypes/HearingData/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1245

#1283 Wa changes for gate keeping
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page21/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 30 - Amend Order - Judge Send Admiin/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1283

#1292 -removed field added for testing.
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1292

#1282 NOC Confidentiality fix
  README.md
  definitions/private-law/json/AuthorisationCaseField/AddCaseNote/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationPayment/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/Fl401/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/MessagesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/PartiesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/PaymentHistory/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceRequest/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SummaryTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/UploadAdditionalApplications/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationComplexType.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1282

#1286 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1286

#1287 Admin stop solicitor representation
  definitions/private-law/json/AuthorisationCaseEvent/AdminRemoveLegalRepresentative/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AdminRemoveLegalRepresenative/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/AdminRemoveLegalRepresentative/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/AdminRemoveLegalRepresentative/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToFields/AdminRemoveLegalRepresenatative/CaseEventToFields.json
  definitions/private-law/json/CaseField/AdminRemoveLegalRepresentative/CaseField.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1287

#1168 Citizen confidential info base
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401Respondent/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/Respondent/ComplexTypes.json
Labels: ns:private-law, prd:prl, keep-helm, PRLfeatureTeam, rel:prl-ccd-definitions-pr-1168, NoC

#1285 PRL-3562 - Manage document event for solicitor & CTSC
  README.md
  definitions/private-law/json/AuthorisationCaseEvent/ManageDocuments/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/ManageDocuments/CaseField.json
  definitions/private-law/json/CaseTypeTab/Quarentine/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/ManageDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Quarentine/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1285

#1297 NOC Email fix
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/MessagesTab/AuthorisationCaseField.json
  definitions/private-law/json/ChallengeQuestion.json
Labels: ns:private-law, prd:prl, keep-helm, NoC, rel:prl-ccd-definitions-pr-1297

#1301 Send and reply bug fixes
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/reply/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/send/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1301
