Repository hmcts/prl-ccd-definitions, pull requests merged in 2023-03, with the labels that each got.

#1062 ISDB-596 Next hearing date event for updating date in CCD
  definitions/private-law/json/AuthorisationCaseEvent/UpdateNextHearingDate/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1062

#1061 Update CaseEvent.json
  definitions/private-law/json/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1061

#1063 Workaround for challenged and specific access
  definitions/private-law/json/RoleToAccessProfiles.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1063

#1065 PR helm auto uninstall
  .github/PULL_REQUEST_TEMPLATE.md
  Jenkinsfile_CNP
  README.md
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1065, keep-helm

#1074 fix master build
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1074

#1085 welsh placeholder bug fix master branch base
  definitions/private-law/json/CaseEventToFields/SubmitAndPay/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1085

#946 adding publish for work allocation for events
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/Applicantdetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 18 - Common (Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ReturnApplication/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendAndReplyToMessages/CaseEventToFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-946, PRLfeatureTeam, No_longer_needed

#1090 C100 PRL-3243 - C100 citizen applicant journey changes
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseField/ApplicationTab/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1090

#1095 Feature/cafcass category changes demo
  definitions/private-law/json/CaseField/CaseField.json
Labels: keep-helm

#1099 Feature/cafcass safegaurding category demo
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1099

#1101 ISDB-601 cafcass upload category changes
  definitions/private-law/json/CaseField/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1101

#1029 PRL-3088:Added changes to show and hide screen in judge flow
  definitions/private-law/json/CaseField/ManageOrders/C47A/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1029, PRLfeatureTeam

#1092 Manage order - Create order : C43
  definitions/private-law/json/AuthorisationCaseField/ManageOrderServeOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/ServeOrder/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManagerOrderServeOrder/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page 25 - CA(Serve Order)- C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page22/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 22 - Upload order(When to serve)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 23 - Common (Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 24 - CA(Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 27 - CA(Serve Order)- C47A/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/C43/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  package.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1092

#1040 PRL-3105:Added changes to hide fields from ui
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 6 - N117/CaseEventToFields.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL404B/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1040, PRLfeatureTeam

#1102 ISDB-601 cafcass upload category changes
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenUploadedDocument/UploadedDocuments/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1102

#1103 case link enhancement
  definitions/private-law/json/AuthorisationCaseField/CaseLinking/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/CaseLinking/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseLinking/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1103

#1100 amending pods
  charts/prl-ccd-definitions/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1100

#1094 C100 applicant dashboard/tasklist changes
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  package.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1094

#942 Release 4.0
  README.md
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C100Rebuild/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/Applicantdetails/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 18 - Common (Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ReturnApplication/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendAndReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/C100Rebuild/CaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/Applicant/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-942, keep-helm, PRLfeatureTeam

#1091 ISDB-601 cafcass upload category
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenUploadedDocument/UploadedDocuments/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1091

#1125 idammigration& regionid fix demo
  definitions/private-law/json/ComplexTypes/localCourtAdminEmail/ComplexTypes.json
  definitions/private-law/json/RoleToAccessProfiles.json
  package.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1125

#1137 PRL - 3184 confirmation page change
  definitions/private-law/json/AuthorisationCaseField/ListWithoutNotice/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ListWithoutNotice/Page 3 - ConfirmationPage/CaseEventToFields.json
  definitions/private-law/json/CaseField/ListWithoutNotice/CaseField.json
  package.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1137

#1145 added next hearing date related changes.
  definitions/private-law/json/AuthorisationCaseEvent/HearingUpdate/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/UpdateNextHearingDate/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/NextHearingDetails/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/UpdateNextHearingDate/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseField/NextHearingDetails/CaseField.json
  definitions/private-law/json/ComplexTypes/NextHearingDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1145

#1149 Fixed SNI-3467
  definitions/private-law/json/AuthorisationCaseEvent/TestingSupport/AuthorisationCaseEvent-nonprod.json
  definitions/private-law/json/CaseEventToComplexTypes/TestingSupport/CaseEventToComplexTypes-nonprod.json
  definitions/private-law/json/CaseEventToFields/TestingSupport/CaseEventToFields-nonprod.json
  definitions/private-law/json/ComplexTypes/localCourtAdminEmail/ComplexTypes.json
  definitions/private-law/json/RoleToAccessProfiles.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1149

#1165 Upload CCD defn fix
  Jenkinsfile_CNP
  README.md
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1165

#1114 C100 dashboard tasklist changes
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1114

#1123 3217 manage documents bug fix
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1123

#955 FL401 CourtNav as source question
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/SolicitorCreate/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  test/end-to-end/pages/CreateCase.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-955, PRLfeatureTeam

#962 Prl 3069/feature draft order tab should display only fields as per orders tab
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-962, keep-helm, PRLfeatureTeam

#1117 Welsh seal for english documents
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1117

#1171 updated to caseworker-privatelaw-courtadmin for ctsc
  definitions/private-law/json/RoleToAccessProfiles.json
  test/unit/definitions/AuthorisationCaseState.test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1171
