Repository hmcts/prl-ccd-definitions, pull requests merged in 2023-07, with the labels that each got.

#1376 Send reply & manage document consolidated changes
  README.md
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ManageDocuments/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/sendOrReplyToMessages/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/MessagesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReviewDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/reply/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/send/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ReviewDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/ManageDocuments/CaseField.json
  definitions/private-law/json/CaseField/MessagesTab/CaseField.json
  definitions/private-law/json/CaseField/QuarantineFields/CaseField.json
  definitions/private-law/json/CaseField/ReviewDocuments/CaseField.json
  definitions/private-law/json/CaseField/SendAndReplyToMessages/CaseField.json
  definitions/private-law/json/CaseField/citizen/CitizenUploadedDocuments/CaseField.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Messages/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Quarantine/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenUploadedDocument/DocumentDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenUploadedDocument/UploadedDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-prod.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1376

#1365 ReadOnly Access
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-preview.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-prod.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
  env.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
  test/unit/definitions/AuthorisationCaseState.test.js
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1365

#1380 Adding ''Confidential questions''for AmendRespondent
  definitions/private-law/json/CaseEventToComplexTypes/FL401RespondentDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1380

#1391 Prl 3934 citizen notify soa
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401RespondentDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-preview.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-prod.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
  env.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
  test/unit/definitions/AuthorisationCaseState.test.js
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1391

#1362 citizen-c7-c8-c1A
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1362

#1395 PRL-3878 - Updated manage docs permissions for solicitor & cafcass
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  env.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1395

#1369 Prl 3859 soa sos
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/StatementOfService/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/StatementOfService/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEventToComplexTypes/StatementOfService/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/StatementOfService/CaseEventToFields.json
  definitions/private-law/json/CaseField/ServiceOfApplication/confirmRecipients/CaseField.json
  definitions/private-law/json/CaseField/StatementOfService/CaseField.json
  definitions/private-law/json/CaseTypeTab/ServiceOfApplication/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenFlags/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/StatementOfService/ComplexTypes.json
  env.json
  test/unit/definitions/AuthorisationCaseState.test.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1369

#1389 PRL-3930 - Changes for court admin to create & submit DSS case
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1389

#1400 Added state condition for migration event
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
  test/unit/definitions/AuthorisationCaseState.test.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1400

#1407 reverted migration state changes
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  test/functional/config.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1407

#1406 Unused-ccd-features
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ResetPin/AuthorisationCaseEvent-ignore.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ResetPin/AuthorisationCaseField-ignore.json
  definitions/private-law/json/CaseEvent/CaseEvent-ignore.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/SendAndReplyToMessages/Message/CaseEventToComplexTypes-ignore.json
  definitions/private-law/json/CaseEventToComplexTypes/SendAndReplyToMessages/MessageMetaData/CaseEventToComplexTypes-ignore.json
  definitions/private-law/json/CaseEventToFields/ResetPin/CaseEventToFields-ignore.json
  definitions/private-law/json/CaseEventToFields/SendAndReplyToMessages/CaseEventToFields-ignore.json
  definitions/private-law/json/CaseField/ResetPin/CaseField-ignore.json
  package.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1406

#1379 Send reply & manage doc issue fixes
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1379

#1392 Update env.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-prod.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1392

#1423 added precondition state for DECISION_OUTCOME Manage orders event
  Dockerfile
  definitions/private-law/json/CaseEvent/CaseEvent.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1423

#1422 Feature draft order fix
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Preambles/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm, rel:prl-ccd-definitions-pr-1422

#1426 added logic to change case state via migration event
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1426

#1371 statement of service changes are added
  definitions/private-law/json/AuthorisationCaseEvent/StatementOfService/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/StatementOfService/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/StatementOfService/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/StatementOfService/CaseEventToFields.json
  definitions/private-law/json/CaseField/StatementOfService/CaseField.json
  definitions/private-law/json/CaseTypeTab/ServiceOfApplication/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/StatementOfService/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, keep-helm
