Repository hmcts/prl-ccd-definitions, pull requests merged in 2023-10, with the labels that each got.

#1549 Prl 4260 order hearing screen changes base branch merge
  README.md
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/HearingData/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/HearingData/CourtAdmin/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/HearingData/Solicitor/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/HearingData/CourtAdmin/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/HearingData/Solicitor/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/HearingData/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page19 -Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/HearingData/CaseField.json
  definitions/private-law/json/ComplexTypes/HearingData/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1549

#1550 Prl 4252 c6 mvp fixes base branch merge
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C6/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/ManageOrders/HearingData/CaseField.json
  definitions/private-law/json/ComplexTypes/HearingData/ComplexTypes.json
  definitions/private-law/json/State.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1550

#1566 CCD migration state conditions removal SNI-4752
  definitions/private-law/json/AuthorisationCaseField/UploadAdditionalApplications/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1566

#1570 Prl 4259 changes to generic screen test clone
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C21/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page16 -Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page20/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page14-Hearing Data-solicitor/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page20/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page14-Hearing Data-solicitor/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page20/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 2 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 20 - Common (Preview Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page19 -Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/C21/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/State.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1570

#1571 extend smoke test coverage
  .eslintignore
  env.json
  test/smoke/pages/CaseList.js
  test/smoke/pages/CreateCase.js
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1571

#1574 Cross browser step fix for definitions build
  env.json
  test/end-to-end/tests/WithdrawApplicationAsASolicitor.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1574

#1577 Manage orders james fixes new
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page15-FL402/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page6-C43A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page7-C43/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page8-C45A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page9-C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page10-C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page11-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page13-FL402/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page7-C43/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page8-C45A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page9-C43A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page10-C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page11-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page13-FL402/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page7-C43/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page8-C45A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page9-C43A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 10 - C43/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1577

#1513 Exui screen changes for C6
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/N117/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page10-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page11-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page11-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 6 - N117/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/N117/CaseField.json
  definitions/private-law/json/ComplexTypes/HearingData/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/pages/WithdrawApplication.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1513

#1562 Prl4101 gate keeping state
  env.json
  test/end-to-end/config.js
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/CaseList.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/IssueCase.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/MoveCaseToGateKeeping.js
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/pages/WithdrawApplication.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/GateKeepingState.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1562

#1581 manage orders James
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1581

#1489 PRL-4225 - Serve order & addition docs to other people
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/BulkPrint/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1489, enable_keep_helm

#1561 case flags 2.1 parties
  charts/prl-ccd-definitions/values.preview.template.yaml
  env.json
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-ccd-definitions-pr-1561

#1578 SNI-4788 incident remove element from order collection changes
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1578

#1589 add retry mechanism to smoke tests
  env.json
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1589

#1591 fix smoke test
  env.json
  test/smoke/pages/CaseList.js
  test/smoke/tests/smoke_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1591

#1508 FPET-702 manage order C43A changes
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page6-C43A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 11 - C43A/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1508

#1595 Manage orders base branch non molestestation
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1595

#1593 Migrate tests to Playwright library
  .gitignore
  Jenkinsfile_CNP
  env.json
  package.json
  saucelabs.conf.js
  test/end-to-end/codecept.conf.js
  test/end-to-end/config.js
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/helpers/playwrightHelper.js
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/ChildrenRelationships.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/DOScreens/ApplicantsFamily.js
  test/end-to-end/pages/DOScreens/DaWithoutNoticeOrder.js
  test/end-to-end/pages/DOScreens/RelationshipToRespondent.js
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/InternationalElement.js
  test/end-to-end/pages/IssueCase.js
  test/end-to-end/pages/LitigationCapacity.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/ManageOrderHearing.js
  test/end-to-end/pages/ManageOrders.js
  test/end-to-end/pages/Miam.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  test/end-to-end/pages/OtherProceedings.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/pages/WelshLanguage.js
  test/end-to-end/pages/WithdrawApplication.js
  test/end-to-end/pages/allegationsOfHarm.js
  test/end-to-end/tests/CAManageOrderUploadOrder_test.js
  test/end-to-end/tests/CaseNameChange_test.js
  test/end-to-end/tests/GateKeepingState_test.js
  test/end-to-end/tests/ManageOrderC21_test.js
  test/end-to-end/tests/SolicitorHWFinAWP_test.js
  test/end-to-end/tests/SolicitorHelpWithFeeSubmitAndPayCA_TS_test.js
  test/end-to-end/tests/SolicitorHelpWithFeeYESErrorMsg_test.js
  test/end-to-end/tests/SubmitAndPayCA_test.js
  test/end-to-end/tests/SubmitAndPayDO_test.js
  test/end-to-end/tests/WithdrawApplicationAsASolicitor_test.js
  test/functional/admin_test.js
  test/functional/codecept.conf.js
  test/functional/steps_file.js
  test/smoke/codecept.conf.js
  test/smoke/helpers/generalHelper.js
  test/smoke/pages/CreateCase.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1593

#1556 PRL-4361:Added changes for date picker
  definitions/private-law/json/CaseEventToComplexTypes/DraftAnOrder/FL404/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/FL404/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/FL404/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/FL404/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1556

#1520 PRL-4298-FL404B-Hearing
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page16 -Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page14-Hearing Data-solicitor/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page14-Hearing Data-solicitor/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page19 -Hearing Data/CaseEventToFields.json
  test/end-to-end/config.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/ManageOrders.js
  test/end-to-end/pages/PowerofarrestFL406.js
  test/end-to-end/pages/SolicitorDraftOrder.js
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/SolicitorDraftOrderBlankOrderFL404B.js
  test/end-to-end/tests/SolicitorDraftOrderPowerOfArrestFL406.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1520

#1603 Prl 4445 extend fl401 tests
  env.json
  package-lock.json
  saucelabs.conf.js
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/StatementOfTruth.js
  test/end-to-end/pages/UploadFLDocuments.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/SubmitAndPayDO_test.js
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1603

#1512 FPET-706_C47A
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C45A/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/C47A/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/ManageOrders/C47A/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1512

#1607 INC5552510 changes for adding new allocated-magistrate role
  charts/prl-ccd-definitions/Chart.yaml
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-prod.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1607

#1610 Added permissions to familyman case number for judge users
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1610

#1609 Prl 3655 create & cancel hearing tests
  env.json
  package.json
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/HearingRequest.js
  test/end-to-end/pages/Login.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CaseNameChange_test.js
  test/end-to-end/tests/CreateHearings_test.js
  test/functional/steps_file.js
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1609

#1598 Case Flags with NoC
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/C100/caApplicant/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/C100/caApplicantSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/C100/caOtherParties/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/C100/caRespondent/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/C100/caRespondentSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/FL401/daApplicant/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/FL401/daApplicantSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/FL401/daRespondent/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/FL401/daRespondentSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/externalFlags/applicantSolicitors/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/externalFlags/applicants/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/externalFlags/otherParties/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/externalFlags/respondentSolicitors/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/externalFlags/respondents/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/internalFlags/applicantSolicitors/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/internalFlags/applicants/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/internalFlags/otherParties/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/internalFlags/respondentSolicitors/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/c100/internalFlags/respondents/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/fl401/externalFlags/applicantSolicitors/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/fl401/externalFlags/applicants/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/fl401/externalFlags/respondentSolicitors/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/fl401/externalFlags/respondents/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/fl401/internalFlags/applicantSolicitors/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/fl401/internalFlags/applicants/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/fl401/internalFlags/respondentSolicitors/AuthorisationComplexType.json
  definitions/private-law/json/AuthorisationComplexType/case-flags-2-1/fl401/internalFlags/respondents/AuthorisationComplexType.json
  definitions/private-law/json/CaseEventToFields/case-flags-2-1/C100/CreateFlags/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/case-flags-2-1/C100/ManageFlags/CaseEventToFields.json
  definitions/private-law/json/CaseTypeTab/CaseFlags/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/case-flags-2-1/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, case-flags-2-1, enable_keep_helm, rel:prl-ccd-definitions-pr-1598

#1613 Prl 4105 update hearing tests
  env.json
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/HearingRequest.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CreateHearings_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1613

#1619 Manage orders base branch bold fix
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page14-Hearing Data-solicitor/CaseEventToFields.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1619

#1543 Feature/prl 4273 order selection screen changes fixes
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1543
