Repository hmcts/prl-ccd-definitions, pull requests merged in 2023-11, with the labels that each got.

#1621 C43A - Solicitor MO tests
  env.json
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
  test/end-to-end/tests/GateKeepingState_test.js
  test/end-to-end/tests/SubmitAndPayCA_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1621

#1631 Prl 4478 ca mo flow
  env.json
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/pages/UploadAdditionalApplications.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/ManageOrderC21_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1631

#1641 Prl 4092 filter tests
  env.json
  test/end-to-end/config.js
  test/end-to-end/pages/AmendApplicantDetails.js
  test/end-to-end/pages/CaseList.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/AmendApplicantDetails_test.js
  test/end-to-end/tests/FilterCase_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1641

#1663 Notice of change tests
  env.json
  test/end-to-end/config.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/NOCScreens/NocDetails.js
  test/end-to-end/pages/NOCScreens/nocConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/AmendApplicantDetails_test.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1663

#1602 SDO-Hearing-Screen-Changes
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/CAFCASS or CAFCASS Cymru/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Urgent hearing and next steps/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/CAFCASS or CAFCASS Cymru/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Court/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Documents and evidence/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Hearing and next steps/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/1_SdoDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1602

#1623 Add Directions Edit fix
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1623

#1671 Send and reply tests
  env.json
  test/end-to-end/pages/SendMsgScreens/SendMsg.js
  test/end-to-end/pages/SendMsgScreens/sendMsgConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CAMOAndSendMessage_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1671

#1650 Manage order - Magistrate (JP): UI & Docmosis content Change
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1650

#1428 Tasklist improvement
  definitions/private-law/json/CaseEvent/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1428

#1676 Fix Cross browser tests for ccd-definitions build
  bin/run-crossbrowser-tests.sh
  env.json
  saucelabs.conf.js
  test/end-to-end/crossbrowser/supportedBrowsers.js
  test/end-to-end/helpers/SauceLabsReportingHelper.js
  test/end-to-end/pages/CreateCase.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1676

#1322 FPET-567
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 2 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1322

#1686 add tests for service of application journeys
  env.json
  test/end-to-end/pages/SOAScreens/ServiceOfApplication.js
  test/end-to-end/pages/SOAScreens/soaConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1686

#1694 Manage & review docs tests
  .eslintrc.json
  env.json
  test/end-to-end/crossbrowser/supportedBrowsers.js
  test/end-to-end/pages/ManageDocuments.js
  test/end-to-end/pages/ManageDocumentsScreens/ManageDocuments.js
  test/end-to-end/pages/ManageDocumentsScreens/manageDocConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
  test/end-to-end/tests/ManageAndReviewDocuments_test.js
  test/resource/test_av.mp3
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1694

#1568 PRL-4305 LA access for MngDoc
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1568

#1597 Transfer court enhancements
  definitions/private-law/json/AuthorisationCaseEvent/TransferCourt/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/transferCase/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/transferCase/CaseEvent-prod.json
  env.json
Labels: ns:private-law, prd:prl, Transfer-court, enable_keep_helm, rel:prl-ccd-definitions-pr-1597

#1674 fixed SNI-4912
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1674

#1667 Remove event for court admin for returned cases
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-prod.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1667

#1655 PRL-4443:Added changes to show and hide events in pending status
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1655

#1729 Feature/prl 4771 judge full name
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1729
