Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-01, with the labels that each got.

#1748 PRL-4600 Directions to admin
  definitions/private-law/json/AuthorisationCaseField/EditAndApprove/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1748

#1703 Tab change
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  env.json
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
  test/end-to-end/tests/CAMOAndSendMessage_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1703

#1780 FPET-813 case deletion changes
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/State.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1780

#1804 Revert "FPET-813 case deletion changes"
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/State.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1804

#1805 Revert "Revert "FPET-813 case deletion changes""
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/State.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1805

#1774 Judge hearing screen
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/HearingData/Solicitor/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/HearingData/Solicitor/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page14-Hearing Data-solicitor-NotInUse/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page14-Hearing Data-solicitor/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page14-Hearing Data-solicitor-NotInUse/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page14-Hearing Data-solicitor/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page15-HearingData/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1774

#1759 Citizen case submission WA changes
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1759

#1765 Prl 4831 lr rejection scenario
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1765

#1799 PRL-4857 - Solicitor edit returned FL404 orders for DA cases
  README.md
  definitions/private-law/json/AuthorisationCaseField/EditAndApprove/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/EditReturnedOrder/HearingData/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page21/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page12-Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1799

#1730 *** DO NOT MERGE *** Serve order common branch
  definitions/private-law/json/AuthorisationCaseField/ManageOrderServeOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/ServeOrder/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManagerOrderServeOrder/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page 25 - CA(Serve Order)- C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page22/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page24/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 27 - Common (Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 28 - CA(Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 29 - DA(Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 31 - CA(Serve Order)- C47A/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1730

#1820 Edit a returned order - Legal rep - uploaded orders
  definitions/private-law/json/AuthorisationCaseField/EditReturnedOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page3/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseField/EditReturnedOrder/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1820

#1751 PRL-4832 -Manager order approval journey
  definitions/private-law/json/AuthorisationCaseEvent/EditAndApprove/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-preview.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-prod.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1751

#1795 FPET-816 amend other children
  definitions/private-law/json/AuthorisationCaseEvent/OtherChildNotInTheCase/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/OtherChildNotInTheCase/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherChildNotInTheCase/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/OtherChildNotInTheCase/amend/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1795

#1796 Prl 4930/integration with am
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1796

#1807 Prl 4631 sdo docmosis update
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1807

#1817 FPET-817 preview env configuration
  definitions/private-law/json/AuthorisationCaseEvent/ChildrenAndApplicants/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ChildrenAndApplicants/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ChildrenAndApplicants/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ChildrenAndApplicants/amend/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1817

#1813 updated respondent contact sequence
  definitions/private-law/json/ComplexTypes/ApplicationTab/Respondent/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1813

#1800 FPET-820: Add amend event for children and respondents
  definitions/private-law/json/AuthorisationCaseEvent/ChildrenAndRespondents/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ChildrenAndRespondents/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ChildrenAndRespondents/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ChildrenAndRespodents/amend/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1800

#1829 FPET-829: Add amend children and other people event
  definitions/private-law/json/AuthorisationCaseEvent/ChildrenAndOtherPeople/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ChildrenAndOtherPeople/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ChildrenAndOtherPeople/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ChildrenAndOtherPeople/amend/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1829

#1837 FPET-850 renamed references and included new fields
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/AbilityToParticipate/A/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/AbilityToParticipate/B/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/AbilityToParticipate/C/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/AbilityToParticipate/D/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/AbilityToParticipate/E/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/c100ResSol/AbilityToParticipate/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AbilityToPartcipateInProceedings/E/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AbilityToPartcipateInProceedings/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AbilityToPartcipateInProceedings/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AbilityToPartcipateInProceedings/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AbilityToPartcipateInProceedings/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AbilityToPartcipateInProceedings/E/CaseEventToFields.json
  definitions/private-law/json/ComplexTypes/Citizen/RaespondentSolicitor/AbilityToPartcipateInProceedings/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1837

#1834 Previous orders documents to be mapped to Orders from other proceedings folder in CFV
  definitions/private-law/json/ComplexTypes/Citizen/ProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401ProceedingDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1834

#1824 FPET-833 Respondent journey internation element changes
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/InternationalElement/A/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RaespondentSolicitor/InternationalElement/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1824

#1815 HearingOption for WA
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1815

#1710 [** DO NOT MERGE **] - Automation tests for Court admin approval and non-approval fo flags
  test/end-to-end/pages/CaseList.js
  test/end-to-end/pages/CreateFlagScreens/createFlags.js
  test/end-to-end/pages/CreateFlagScreens/createFlagsConfig.json
  test/end-to-end/pages/CreateFlagScreens/verifySolicitorFlags.js
  test/end-to-end/pages/ManageFlagsScreens/manageFlags.js
  test/end-to-end/pages/ManageFlagsScreens/manageFlagsConfig.json
  test/end-to-end/pages/ReqSupportScreens/reqSupport.js
  test/end-to-end/pages/ReqSupportScreens/reqSupportConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CaseFlags_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1710

#1863 Ccd nightly test fixes
  env.json
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
  test/end-to-end/pages/ManageOrderHearing.js
  test/end-to-end/pages/SOAScreens/soaConfig.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1863

#1775 Prl 4846 judge approval journey2
  README.md
  definitions/private-law/json/AuthorisationCaseEvent/EditAndApprove/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/EditReturnedOrder/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/EditAndApprove/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/EditReturnedOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/AuthorisationCaseType.json
  definitions/private-law/json/CaseEvent/EditReturnedOrder/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/EditReturnedOrder/CaseEvent-prod.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToComplexTypes/EditReturnedOrder/C43A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditReturnedOrder/FL404/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditReturnedOrder/HearingData/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page10-C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page11-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page13-FL402/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page14-Hearing Data-solicitor-NotInUse/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page20/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page21/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page3/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page6/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page7-C43/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page8-C45A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page9-C43A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page10-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page11-FL402/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page12-Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page13/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page3/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page6-C43/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page7-C45A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page8-C43A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page9-C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 30 - Amend Order - Judge Send Admiin/CaseEventToFields.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/CaseField/EditReturnedOrder/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-preview.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-prod.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
  env.json
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1775

#1870 fix failing UI FT
  env.json
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1870

#1861 Prl 4804 soa ca personal ca cb
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - CA/CaseEventToFields.json
  definitions/private-law/json/ComplexTypes/ServedApplicationDetails/SoaPack/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1861

#1835 FPET-851: Respondent Solicitor - Miam Content Changes
  definitions/private-law/json/ComplexTypes/Citizen/Miam/ComplexTypes.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1835

#1843 SOA - Safety notice, Special arrangements letter, C6A validation & size limit check
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - CA/CaseEventToFields.json
  test/end-to-end/pages/SOAScreens/ServiceOfApplication.js
  test/end-to-end/pages/SOAScreens/soaConfig.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1843
