Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-09, with the labels that each got.

#2299 PRl-6027/HWF-AWP-Partial-Remission
  definitions/private-law/json/AuthorisationCaseEvent/HwF/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/HwF/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/HwF/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/HwF/Page 1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HwF/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HwF/Page 3/CaseEventToFields.json
  definitions/private-law/json/CaseField/HwF/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2299

#2414 Prl 3456 send and reply messages migration test
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SendAndReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/send/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/SendAndReplyToMessages/CaseField.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/CaseTypeTab/Messages/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2414

#2215 DA : Amend welsh language requirement
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/WelschLanguageRequirements/amend/CaseEventToFields.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2215

#2352 PRL 6130 Courtnav Confidentiality changes
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CourtNav/CaseField.json
  definitions/private-law/json/CaseField/QuarantineFields/CaseField.json
  definitions/private-law/json/CaseField/ReviewDocuments/CaseField.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Quarantine/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2352

#2395 Coverlettter testing
  definitions/private-law/json/ComplexTypes/ServedApplicationDetails/SoaPack/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2395

#1950 WA Applicant Lip Flag
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1950

#2367 Manage Cafcass Access
  definitions/private-law/json/AuthorisationCaseEvent/ManageCafcassAccess/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page22/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageCafcassAccess/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 27 - Common (Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 28 - CA(Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2367

#2422 Merge FPET-927 changes to base branch
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/Documents/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/reply/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Documents/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2422

#2417 Respondents other proceedings docs
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/OtherProceedings/AuthorisationCaseField.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/RespondentProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2417

#2312 Checking fieldshow for judge loggedinusertype
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/HearingData/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 22 - Amend Order (2)/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2312

#2428 Fpet 1126 ithc issues
  charts/prl-ccd-definitions/values.preview.template.yaml
  env.json
  package.json
  test/end-to-end/reporters/accessibility-reporter/resources/angular.min.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2428

#2216 5733/remove_cafcass_question_da
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page21/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 26 - Upload order(When to serve)/CaseEventToFields.json
Labels: ns:private-law, prd:prl, enable_keep_helm
