Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-06, with the labels that each got.

#2235 SNI-5904-fixed 2 CFV tabs
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2235

#2186 prl-5627/rename_documents_categories_for_cafcass
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2186

#2095 Fpet 932 send email
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2095

#2106 FPET-931 PR pointing
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2106

#2251 FPET-1008 added yarn audit known issues.
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2251

#2203 FPET-973: updated authorization
  definitions/private-law/json/AuthorisationCaseEvent/AddCafcassOfficer/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/AllegationsOfHarm/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/AllegationsOfHarm/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/AllegationsOfHarmRevised/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/AllegationsOfHarmRevised/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ApplicantFamilyDetailsFL401/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/AttendingTheHearing/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/CaseLinking/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ChildrenAndOtherPeople/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ChildrenAndOtherPeople/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Court/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/FL401CaseNumber/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/FL401OtherProceedings/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/FL401OtherProceedings/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/FL401TypeOfApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/FL401TypeOfApplication/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Gatekeeper/C100/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Gatekeeper/FL401/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/HearingUrgency/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/InternationalElement/amendInternationalElement/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ListOnNotice/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ListWithoutNotice/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/LitigationCapacity/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Miam/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Miam/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/MiamPolicyUpgrade/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/OtherChildNotInTheCase/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/OtherPeopleInTheCase/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/OtherPeopleInTheCase/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/OtherPeopleInTheCaseRevised/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/OtherPeopleInTheCaseRevised/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/OtherProceedings/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentRelationshipFL401/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentsBehaviour/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReturnApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/SelectApplicationType/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/SelectApplicationType/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ServiceOfApplication/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/StatementOfService/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/TheHome/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/WelshLanguageRequirements/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/WelshLanguageRequirements/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/WithoutNoticeOrder/amend/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/internal/C100/CreateFlags/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/internal/C100/ManageFlags/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/internal/FL401/CreateFlags/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/internal/FL401/ManageFlags/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/internal/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/case-flags-2-1/internal/C100/CreateFlag/CaseEvent.json
  definitions/private-law/json/CaseEvent/case-flags-2-1/internal/FL401/CreateFlags/CaseEvent.json
  definitions/private-law/json/CaseTypeTab/case-flags-2-1/internal/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2203

#2026 FPET-916
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Preambles/AuthorisationCaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2026

#2198 FPET-968 add remove draft order
  definitions/private-law/json/AuthorisationCaseEvent/RemoveDraftOrder/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/RemoveDraftOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/RemoveDraftOrder/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RemoveDraftOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseField/RemoveDraftOrder/CaseField.json
  env.json
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2198

#2185 MIAM Changes
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseField/MiamPolicyUpgrade/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/MiamPolicyUpgrade/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2185

#2267 FPET-1012-changes for enable event for further states
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2267

#2276 FPET-1016 change additional applications options from multi select list to radio button
  definitions/private-law/json/CaseEventToFields/UploadAdditionalApplications/Page 1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/UploadAdditionalApplications/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/UploadAdditionalApplications/Page 3/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2276
