Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-08, with the labels that each got.

#2265 fixed allocated judge details missing in summary tab
  definitions/private-law/json/AuthorisationCaseField/JudicaryAllocatedJudge/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/JudicaryAllocatedJudge/CaseField.json
  definitions/private-law/json/ComplexTypes/JudicaryAllocatedJudge/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2265

#2350 FPET-1047: Remove list on notice notifications for CA cases
  definitions/private-law/json/CaseField/ListOnNotice/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2350

#2355 Common branch pending changes for Sos
  definitions/private-law/json/AuthorisationCaseField/ManageOrderServeOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 28 - CA(Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2355

#2369 updated migration event
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
  test/end-to-end/tests/SubmitAndPayCA_test.js
  test/end-to-end/tests/SubmitAndPayDO_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2369

#2358 PRL-6128 - Backend changes for Citizen CA/DA dashboard notifications
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400-DraftOrder/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/OrderDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/StatementOfService/ComplexTypes.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2358

#2374 fixed smoke tests
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  env.json
  test/smoke/pages/CreateCase.js
  test/smoke/pages/Login.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2374

#1488 Citizen AWP payment changes
  definitions/private-law/json/AuthorisationCaseEvent/UploadAdditionalApplications/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AwpPayment/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/UploadApplication/CaseEvent.json
  definitions/private-law/json/CaseField/AwpPayment/CaseField.json
  definitions/private-law/json/ComplexTypes/AwpPayment/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/UploadAdditionalApplications/1_Urgency/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/UploadAdditionalApplications/2_Payment/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1488

#2239 FPET-990 service of application improvements
  definitions/private-law/json/CaseField/ConfidentialityCheck/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/CaseTypeTab/ServiceOfApplication/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ServedApplicationDetails/SoaPack/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2239

#2357 SNI-6328 Migration event changes
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2357

#2223 [DO NOT MERGE] COS pointer
  definitions/private-law/json/AuthorisationCaseEvent/AddCaseNote/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AllegationsOfHarmRevised/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2223

#2396 HwF-AWP-Processing-Cron-Job
  definitions/private-law/json/AuthorisationCaseEvent/UploadAdditionalApplications/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AwpPayment/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/UploadApplication/CaseEvent.json
  definitions/private-law/json/CaseField/AwpPayment/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2396

#2266 HwF processing- Cron job for checking payment status
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/SubmitAndPay/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2266

#2401 Moving CA test to Master and DA test to PR
  env.json
  test/end-to-end/tests/SubmitAndPayCA_test.js
  test/end-to-end/tests/SubmitAndPayDO_test.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2401

#2391 FPET-1109: Upload an Order - Add seal
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2391

#2364 FPET-1044-AWP Fee update for FC600
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2364

#2375 FPET-1034 AWP Fee update for EX740
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2375
