Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-07, with the labels that each got.

#2303 fix ccd build issue
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2303

#2240 PRL-5688 - Changes to enable/disable Citizen dashboard notifications
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2240

#2227 Feature/prl cafcass amend chaild event changes
  definitions/private-law/json/AuthorisationCaseField/ChildDetailsRevised/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ChildDetailsRevised/amend/CaseEventToComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2227

#2324 framework ehancements, flaky test fix and prl-6047 implementation
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  env.json
  test/end-to-end/citizenFrontendSupport/caseCreate.js
  test/end-to-end/codecept.conf.js
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/AmendCaseDetails.js
  test/end-to-end/pages/CaseList.js
  test/end-to-end/pages/CreateFlagScreens/createFlagsConfig.json
  test/end-to-end/pages/DOScreens/ApplicantsFamily.js
  test/end-to-end/pages/DOScreens/RespondentBehaviour.js
  test/end-to-end/pages/HearingRequest.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/MoveCaseToGateKeeping.js
  test/end-to-end/pages/NOCScreens/NocDetails.js
  test/end-to-end/pages/SOAScreens/ServiceOfApplication.js
  test/end-to-end/pages/SOAScreens/StatementOfService.js
  test/end-to-end/restApiData/CaseDataSetupV2.js
  test/end-to-end/restApiData/DataSetupManager.js
  test/end-to-end/restApiData/accessCodeExtractor/index.js
  test/end-to-end/restApiData/dataSetupRequest.json
  test/end-to-end/restApiData/dummy.pdf
  test/end-to-end/restApiData/prlapps.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
  test/end-to-end/tests/CAManageOrderUploadOrder_test.js
  test/end-to-end/tests/CreateSOAFromCitizenJourney_test.js
  test/end-to-end/tests/SubmitAndPayCA_test.js
  test/end-to-end/tests/apiUtil_test.js
  test/end-to-end/utilities/apiUtil.js
  test/end-to-end/utilities/caseEventApi.js
  test/smoke/codecept.conf.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2324

#2220 prl-5737/cafcass_solicitor_application_changes
  definitions/private-law/json/AuthorisationCaseField/ChildDetailsRevised/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ChildDetailsRevised/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ChildDetailsRevised/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/citizen/citizen-case-update/CaseEventToFields.json
  definitions/private-law/json/ComplexTypes/ChildDetailsRevised/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2220

#2297 PRL-5737 Add child details E2E
  charts/prl-ccd-definitions/Chart.yaml
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/tests/SubmitAndPayCA_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2297

#2279 renamed categories FPET-1017
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2279

#2328 added playwright yarn build in nightly build
  Jenkinsfile_nightly
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2328

#2161 Initial commit for skipping edit and approve dropdown
  definitions/private-law/json/AuthorisationCaseField/EditAndApprove/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2161

#2330 functional test falky test fixes
  env.json
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/helpers/hooks.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/StatementOfTruth.js
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/pages/allegationsOfHarm.js
  test/end-to-end/restApiData/CaseDataSetupV2.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2330

#2333 Test/improve robustness common functions
  env.json
  test/end-to-end/helpers/generalHelper.js
  test/end-to-end/pages/AmendCaseDetails.js
  test/end-to-end/pages/AttendingTheHearing.js
  test/end-to-end/pages/CaseList.js
  test/end-to-end/pages/CaseName.js
  test/end-to-end/pages/ChildDetails.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/DOScreens/ApplicantsFamily.js
  test/end-to-end/pages/DOScreens/AttendingTheHearing.js
  test/end-to-end/pages/DOScreens/DaWithoutNoticeOrder.js
  test/end-to-end/pages/DOScreens/RelationshipToRespondent.js
  test/end-to-end/pages/DOScreens/RespondentBehaviour.js
  test/end-to-end/pages/DOScreens/TheHome.js
  test/end-to-end/pages/EditAndApproveDraftOrder.js
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/InternationalElement.js
  test/end-to-end/pages/LitigationCapacity.js
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/ManageOrderHearing.js
  test/end-to-end/pages/ManageOrders.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
  test/end-to-end/pages/OtherProceedings.js
  test/end-to-end/pages/PowerofarrestFL406.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/pages/RespondentSolicitorMiam.js
  test/end-to-end/pages/ReturnApplication.js
  test/end-to-end/pages/SolicitorDraftOrder.js
  test/end-to-end/pages/StatementOfTruth.js
  test/end-to-end/pages/SubmitAndPay.js
  test/end-to-end/pages/TypeOfApplication.js
  test/end-to-end/pages/UploadAdditionalApplications.js
  test/end-to-end/pages/UploadDocuments.js
  test/end-to-end/pages/UploadFLDocuments.js
  test/end-to-end/pages/WelshLanguage.js
  test/end-to-end/pages/allegationsOfHarm.js
  test/end-to-end/tests/CreateSOAFromCitizenJourney_test.js
  test/end-to-end/tests/SubmitAndPayCA_test.js
  test/smoke/helpers/generalHelper.js
  test/smoke/helpers/testLogger.js
  test/smoke/pages/CreateCase.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2333

#2337 functional tests relibaility improvements
  env.json
  test/end-to-end/helpers/generalHelper.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2337

#2238 FPET-987 confidentialy check event changes completed
  definitions/private-law/json/CaseEventToFields/ConfidentialityCheckNew/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2238

#2329 updated pre & post state of migration event
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2329

#2326 PRL-5979, PRL-5974 - Added respondent access code notifications collection of type DocumentsNotification
  definitions/private-law/json/AuthorisationCaseField/DocumentsNotifications/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/StatementOfService/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/DocumentsNotifications/CaseField.json
  definitions/private-law/json/CaseField/StatementOfService/CaseField.json
  definitions/private-law/json/ComplexTypes/Notifications/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2326

#2338 SNI-6243 migrate case state to JUDICIAL_REVIEW fromDECISION_OUTCOME
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2338

#2345 fixed jenkins nightly
  Jenkinsfile_nightly
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2345

#2348 PRL-6122 - SOS changes for application packs & orders
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/StatementOfService/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2348

#2304 DA - Serve orders- non personal service- Screen changes
  README.md
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 28 - CA(Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2304

#2306 Feature - Citizen view all docs
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2306

#2354 Implemented the Bot PR
  env.json
  package.json
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2354
