Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-02, with the labels that each got.

#1847 Soa Recipients Address Check
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - CA/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - DA/CaseEventToFields.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1847

#1846 Prl 4805/soa da static text
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1846

#1849 FPET-852: Respondent Solicitor - Declaration page content changes
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Submit/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/Submit/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1849

#1630 PRL-4403 - MVP allocated judge changes
  definitions/private-law/json/CaseField/AllocatedJudge/CaseField.json
  definitions/private-law/json/ComplexTypes/SummaryTab/AllocatedJudge/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1630

#1852 FPET-857: Respondent Solicitor - Keep details private content changes
  definitions/private-law/json/CaseField/RespondentSolicitor/KeepDetailsPrivate/CaseField.json
  definitions/private-law/json/ComplexTypes/Citizen/KeepDetailsPrivate/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1852

#1801 PRL-4612:Added changes to validate address for respLip
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 28 - CA(Serve Order)/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1801

#1455 Serving LA screen changes SOA
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/ConfirmRecipients/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - CA/CaseEventToFields.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/ComplexTypes/ServiceOfApplication/ConfirmRecipients/ComplexTypes.json
  env.json
  test/end-to-end/pages/SOAScreens/ServiceOfApplication.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1455, enable_keep_helm

#1827 prl-4997/cfv-name_changes
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
  yarn-audit-known-issue
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1827

#1517 FPET-647-cfv
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/CaseField/ManageOrdersAmendOrder/CaseField.json
  definitions/private-law/json/CaseField/ViewPdfApplication/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1517

#1790 Prl 4616 cafcass cymru email update
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1790

#1872 prl5149-remove_further_directions_text_box
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1872

#1850 FPET-854 changes
  definitions/private-law/json/CaseEvent/c100ResSol/ConfirmOrEditDetails/CaseEvent.json
  definitions/private-law/json/CaseEvent/c100ResSol/KeepDetailsPrivate/CaseEvent.json
  definitions/private-law/json/ComplexTypes/AddressHistory/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RaespondentSolicitor/ConfirmEditContactDetails/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1850

#1887 SOA - Confidential check - WA - fields
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToFields/ConfidentialityCheckNew/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseField/ConfidentialityCheck/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1887

#1884 PRL-5056 SOA Confidentiality check E2E
  test/end-to-end/config.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/SOAScreens/ServiceOfApplication.js
  test/end-to-end/pages/SOAScreens/soaConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1884

#1893 PRL-4818 statement of service
  definitions/private-law/json/AuthorisationCaseField/StatementOfService/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/StatementOfService/CaseEventToFields.json
  definitions/private-law/json/CaseField/StatementOfService/CaseField.json
  definitions/private-law/json/CaseTypeTab/Orders/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ServiceOfApplication/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/StatementOfService/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1893

#1845 MVP Service of application - CA & DA Confirmation page updates
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/ConfidentialityCheck/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1845

#1886 **** Do not merge **** Common branch for testing Personal and non personal SOA CA DA
  definitions/private-law/json/AuthorisationCaseEvent/ConfidentialityCheck/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/StatementOfService/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToFields/ConfidentialityCheckNew/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/StatementOfService/CaseEventToFields.json
  definitions/private-law/json/CaseField/ConfidentialityCheck/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/CaseField/StatementOfService/CaseField.json
  definitions/private-law/json/CaseTypeTab/Orders/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ServiceOfApplication/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/StatementOfService/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1886

#1522 Respondent C8 generation while amending details
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/CaseDocuments/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/CaseDocuments/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/Citizen/ResponseDocuments/ComplexTypes.json
  env.json
  test/end-to-end/codecept.conf.js
  test/end-to-end/config.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/RespondentDetails.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CAGenerateRespondentC8.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1522, c8-confidentiality

#1818 Feature/prl 4320 du redesign refactor new
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Bulkscan/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReviewDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/Bulkscan/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ReviewDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/CaseField/ManageDocuments/CaseField.json
  definitions/private-law/json/CaseField/ManageOrdersAmendOrder/CaseField.json
  definitions/private-law/json/CaseField/QuarantineFields/CaseField.json
  definitions/private-law/json/CaseField/ReviewDocuments/CaseField.json
  definitions/private-law/json/CaseField/ViewPdfApplication/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/ManageDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
  test/end-to-end/pages/ManageDocumentsScreens/ManageDocuments.js
  test/end-to-end/pages/ManageDocumentsScreens/manageDocConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/ManageAndReviewDocuments_test.js
  yarn-audit-known-issue
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1818

#1900 Fix - master pipeline
  env.json
  test/end-to-end/codecept.conf.js
  test/end-to-end/tests/CAGenerateRespondentC8.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1900

#1387 Soa Changes
  definitions/private-law/json/AuthorisationCaseEvent/ConfidentialityCheck/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/StatementOfService/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfApplication/ConfirmRecipients/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ConfidentialityCheckNew/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page22/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - CA/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - DA/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/StatementOfService/CaseEventToFields.json
  definitions/private-law/json/CaseField/ConfidentialityCheck/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/ServiceOfApplicationTab/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfApplication/confirmRecipients/CaseField.json
  definitions/private-law/json/CaseField/StatementOfService/CaseField.json
  definitions/private-law/json/CaseTypeTab/Orders/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ServiceOfApplication/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenFlags/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServedApplicationDetails/ConfentialCheckFailed/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServedApplicationDetails/SoaPack/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/StatementOfService/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
  test/end-to-end/pages/SOAScreens/ServiceOfApplication.js
  test/end-to-end/pages/SOAScreens/soaConfig.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1387, enable_keep_helm

#1878 SDO-Direction-for-fact-finding
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Preambles/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Urgent hearing and next steps/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoDirectionFactFindingHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoDirectionFactFindingHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoDirectionFactFindingHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page15-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Hearing and next steps/CaseField.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Preambles/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/1_SdoDetails/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1878

#1874 PRL-4598, PRL-4854 - Hearings type dropdown changes for create & upload order journeys
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page3/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page3/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page3/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 2 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1874

#1828 PRL-4510-Gatekeeping-CA-List-without-notice
  definitions/private-law/json/AuthorisationCaseEvent/C100ListWithoutNotice/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ListWithoutNotice/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/C100ListWithoutNotice/Page 1 - Hearing/CaseEventToFields.json
  definitions/private-law/json/CaseField/ListWithoutNotice/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1828

#1869 PRL-4983: added new field for respondent option
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1869

#1877 prl-4717/solicitor-return-journey-ui-changes
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ReturnApplication/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1877

#1788 Manage documents base branch
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Bulkscan/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReviewDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/Bulkscan/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ReviewDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/CaseField/ManageDocuments/CaseField.json
  definitions/private-law/json/CaseField/ManageOrdersAmendOrder/CaseField.json
  definitions/private-law/json/CaseField/QuarantineFields/CaseField.json
  definitions/private-law/json/CaseField/ReviewDocuments/CaseField.json
  definitions/private-law/json/CaseField/ViewPdfApplication/CaseField.json
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Citizen/ProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401ProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageDocuments/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
  test/end-to-end/pages/ManageDocumentsScreens/ManageDocuments.js
  test/end-to-end/pages/ManageDocumentsScreens/manageDocConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/ManageAndReviewDocuments_test.js
  yarn-audit-known-issue
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1788

#1904 Post condition fix for soa
  definitions/private-law/json/AuthorisationCaseField/EditAndApprove/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/ServiceOfApplication/CaseEvent-prod.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1904

#1907 SDO Fix
  README.md
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToFields/ConfidentialityCheckNew/CaseEventToFields.json
  definitions/private-law/json/CaseField/StatementOfService/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1907

#1929 PRL-5271-SDO-Fix
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/Hearing and next steps/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1929

#1945 PRL-5264 - fix nightly functional tests
  env.json
  test/end-to-end/pages/HearingRequest.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/MoveCaseToGateKeeping.js
  test/end-to-end/pages/SOAScreens/soaConfig.json
  test/end-to-end/tests/AmendCaseDetails_test.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
  test/end-to-end/tests/CAMOAndSendMessage_test.js
  test/end-to-end/tests/FilterCase_test.js
  test/end-to-end/tests/SolicitorHWFinAWP_test.js
  test/smoke/pages/CaseList.js
  test/smoke/tests/smoke_test.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1945

#1875 Prl 5024 automation tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  env.json
  test/end-to-end/config.js
  test/end-to-end/pages/EditAndApproveDraftOrder.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/CAManageOrderUploadOrder_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1875

#1953 Fpet 878 raoh doc fix
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1953

#1826 FPET-834 respondent AOH changes
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/AllegationsOfHarm/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/AllegationsOfHarmOld/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/RespondToApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AllegationsOfHarm/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AllegationsOfHarm/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AllegationsOfHarm/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AllegationsOfHarm/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/AllegationsOfHarm/E/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AllegationsOfHarm/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AllegationsOfHarm/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AllegationsOfHarm/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AllegationsOfHarm/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/AllegationsOfHarm/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/AllegationsOfHarm/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/AllegationsOfHarmOld/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/RespondToApplication/CaseField.json
  definitions/private-law/json/ComplexTypes/Behaviours/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1826

#1908 prl-4499/respondent-tab-naming
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseTypeTab/AddCaseNote/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ApplicationPayment/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/C100ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/Fl401ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/BundlesTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/CaseFileView/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/CaseLinking/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Documents/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Messages/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Orders/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/PartiesTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/PartiesTab/FL401Parties/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/PaymentHistory/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/Quarantine/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/RespondentTasksTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/ServiceRequest/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/case-flags-2-1/external/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/case-flags-2-1/internal/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1908

#1914 Feature/PRL-4579 respondent task listupdates
  definitions/private-law/json/CaseEvent/c100ResSol/OtherProceedings/CaseEvent.json
  definitions/private-law/json/ComplexTypes/Citizen/AttendingTheCourt/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1914

#1921 PRL-4588 MIAM - Respondent solicitor journey
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Miam/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Miam/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/Miam/CaseField.json
  env.json
  test/end-to-end/pages/NOCScreens/NocDetails.js
  test/end-to-end/pages/RespondentSolicitorMiam.js
  test/end-to-end/steps_file.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1921

#1911 PRL-4382, PRL-4372, PRL-4380 - Send & reply message changes
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/send/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/SendOrReplyToMessages/CaseEventToFields.json
  definitions/private-law/json/CaseField/sendOrReplyToMessages/CaseField.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  test/end-to-end/pages/SendMsgScreens/SendMsg.js
  test/end-to-end/pages/SendMsgScreens/sendMsgConfig.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1911

#1964 steps to increase coverage on master pipeline
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  env.json
  package.json
  test/end-to-end/config.js
  test/end-to-end/run-functional-tests.sh
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1964

#1965 soa and sos initial version
  env.json
  test/end-to-end/pages/SOAScreens/CaseManagerConfidentialityCheck.js
  test/end-to-end/pages/SOAScreens/ServiceOfApplication.js
  test/end-to-end/pages/SOAScreens/StatementOfService.js
  test/end-to-end/pages/SOAScreens/soaConfig.json
  test/end-to-end/pages/SOAScreens/sosConfig.json
  test/end-to-end/steps_file.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1965

#1905 FPET- 878
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/RespondToAllegationsOfHarm/A/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/RespondToAllegationsOfHarm/B/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/RespondToAllegationsOfHarm/C/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/RespondToAllegationsOfHarm/D/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/RespondentSolicitor/RespondToAllegationsOfHarm/E/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/RespondToAllegationsOfHarm/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/c100ResSol/RespondToAllegationsOfHarm/CaseEvent.json
  definitions/private-law/json/CaseEvent/c100ResSol/Submit/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/RespondToAllegationsOfHarm/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/RespondToAllegationsOfHarm/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/RespondToAllegationsOfHarm/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/RespondToAllegationsOfHarm/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/RespondToAllegationsOfHarm/E/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/RespondToAllegationsOfHarm/CaseField.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/AbilityToPartcipateInProceedings/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/AllegationaOfHarmOtherConcerns/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/AllegationsOfHarm/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/AllegationsOfHarmChildAbduction/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/ConfirmEditContactDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/InternationalElement/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/Miam/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/RespondToApplication/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/RespondentProceedingDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1905

#1973 revert 5373 changes to push a hotfix
  Jenkinsfile_CNP
  env.json
  package.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-1973
