Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-10, with the labels that each got.

#2439 FPET-1139 External message including cafcass and others
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseEventToComplexTypes/SendOrReplyToMessages/Message/send/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/SendOrReplyToMessages/Message/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2439

#2445 Publish HearingDate for delayed Product Hearing Bundle WA Task
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseField/ServiceOfApplication/CaseField.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2445

#2424 fixed SNI-6554 C8 check page does not pull through the respondent's
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ConfidentialityCheckNew/CaseEventToFields.json
  definitions/private-law/json/CaseField/ConfidentialityCheck/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2424

#2426 FPET-1054 Onboarding screen of EA courts for Legal professionals - DA…
  definitions/private-law/json/AuthorisationCaseField/Fl401StatementOfTruthAndSubmit/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/SolicitorCreate/CaseEventToFields.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2426

#2449 FPET-1152 allegation of harm event and C1A document fixes
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/AllegationsOfHarmRevised/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/AllegationsOfHarmRevised/amend/CaseEventToFields.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/C100ApplicationTab/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2449

#2459 C8 changes respiondent solicitor
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/E/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/ConfirmEditContactDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2459

#2461 SNI-6724 incident fix
  definitions/private-law/json/AuthorisationCaseField/AllegationsOfHarmRevised/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/AllegationsOfHarmRevised/CaseField.json
  definitions/private-law/json/ComplexTypes/AllegationsOfHarmRevised/childAbuseBehaviour/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2461

#2407 FPET-1113: Bundle tab - Remove the want to clone
  definitions/private-law/json/ComplexTypes/BundlesTab/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2407

#2454 updated migration event
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2454

#2229 feature/restrict-the-case-access
  definitions/private-law/json/AuthorisationCaseEvent/RestrictedCaseAccess/AuthorisationCaseEvent-nonprod.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsPrivate/AuthorisationCaseField-nonprod.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsPublic/AuthorisationCaseField-nonprod.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsRestricted/AuthorisationCaseField-nonprod.json
  definitions/private-law/json/CaseEvent/RestrictedCaseAccess/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsPrivate/CaseEventToFields-nonprod.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsPublic/CaseEventToFields-nonprod.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsRestricted/CaseEventToFields-nonprod.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsPrivate/CaseField-nonprod.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsPublic/CaseField-nonprod.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsRestricted/CaseField-nonprod.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  definitions/private-law/json/FixedLists.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-prod.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
  env.json
Labels: ns:private-law, prd:prl, resticted-case-access, enable_keep_helm, rel:prl-ccd-definitions-pr-2229

#2470 INC5657239 added missing fields and authorisation
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/AuthorisationCaseField-prod.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/CaseField-prod.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2470

#2469 Citizen case progression walkthrough fixes
  definitions/private-law/json/CaseField/ApplicationTab/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2469

#2474 Fix for citizen upload document
  definitions/private-law/json/CaseField/SummaryTab/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2474

#2473 Changed env.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ConfidentialityCheckNew/CaseEventToFields.json
  definitions/private-law/json/CaseField/ConfidentialityCheck/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2473

#2472 C8 refuge other parties
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/refuge/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherPeopleInTheCaseRevised/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherPeopleInTheCaseRevised/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/refuge/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2472

#2443 PRL-6243 Service of documents changes
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ServiceOfDocuments/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ServiceOfDocuments/ConfidentialityCheck/AuthorisationCaseEvent-preview.json
  definitions/private-law/json/AuthorisationCaseEvent/ServiceOfDocuments/ConfidentialityCheck/AuthorisationCaseEvent-prod.json
  definitions/private-law/json/AuthorisationCaseEvent/ServiceOfDocuments/ConfidentialityCheck/AuthorisationCaseEvent-sublive.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfDocuments/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfDocuments/Tab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/ServiceOfDocuments/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/ServiceOfDocuments/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfDocuments/AdditionalRecipients/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ServiceOfDocuments/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ServiceOfDocuments/ConfidentialityCheck/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfDocuments/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfDocuments/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfDocuments/Page3/CaseEventToFields.json
  definitions/private-law/json/CaseField/ServiceOfDocuments/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfDocuments/ConfidentialityCheck/CaseField.json
  definitions/private-law/json/CaseField/ServiceOfDocuments/Tab/CaseField.json
  definitions/private-law/json/CaseTypeTab/ServiceOfDocuments/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/Documents/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ServiceOfDocuments/SodPack/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2443

#2486 updated permission to bulkScannedDocListDocTab to fix SNI-6785
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2486
