Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-11, with the labels that each got.

#2483 Update DocTypeOtherDocumentsEnum
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2483

#2460 C100 Applicant Legal Rep- option to download draft C1A #2785
  definitions/private-law/json/CaseEventToFields/ViewPdfApplication/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2460

#2048 FPET-918 changes
  definitions/private-law/json/AuthorisationCaseField/AllegationsOfHarmRevised/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ChildrenAndApplicants/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ChildrenAndRespondents/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/PartiesTab/AuthorisationCaseField.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2048

#2502 Vug fixes for refuge policy
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/E/CaseEventToComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2502

#2499 PRL-6483 - Review CPU, Memory requests & limits
  charts/prl-ccd-definitions/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2499

#2442 FPET-1130
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Fl401StatementOfTruthAndSubmit/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/SolicitorCreate/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  env.json
  test/end-to-end/pages/CreateCase.js
  test/smoke/pages/CreateCase.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2442

#2489 FPET-1172 Update migrateCase event in CCD definitions to apply REQUES…
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2489

#2521 FPET-1172 ignore vulnerabilities for build
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2521

#2498 FPET-1182
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2498

#2528 Remove enable condition
  definitions/private-law/json/CaseEvent/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2528

#2479 Manage org view assigned cases changes
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/SearchCasesResultFields/SearchCasesResultFields.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2479

#2415 Closing cases
  definitions/private-law/json/AuthorisationCaseEvent/ClosingCases/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReopenClosedCases/AuthorisationCaseEvent-preview.json
  definitions/private-law/json/AuthorisationCaseEvent/ReopenClosedCases/AuthorisationCaseEvent-prod.json
  definitions/private-law/json/AuthorisationCaseEvent/ReopenClosedCases/AuthorisationCaseEvent-sublive.json
  definitions/private-law/json/AuthorisationCaseField/ClosingCases/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReopenClosedCases/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SummaryTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/ClosingCases/CaseEvent.json
  definitions/private-law/json/CaseEvent/ReopenClosedCases/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ClosingCases/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ClosingCases/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ClosingCases/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ReopenClosedCases/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseField/ClosingCases/CaseField.json
  definitions/private-law/json/CaseField/ReopenClosedCases/CaseField.json
  definitions/private-law/json/CaseField/SummaryTab/CaseField.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ApplicantFamily/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ChildDetailsRevisedExtraInfo/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ChildExtraInfo/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Child/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ChildDetailsRevised/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ClosingCases/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401ApplicantChildDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/CaseClosedDate/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2415
