Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-03, with the labels that each got.

#1968 fixed FPET-896
  definitions/private-law/json/AuthorisationCaseField/SubmitAndPay/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/SubmitAndPay/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1968

#1982 Courtnav fix with RA changes
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1982

#1978 Other Proceedings changes
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/RespondentProceedingDetails/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1978

#1976 re-add prl-5343 changes
  Jenkinsfile_CNP
  env.json
  package.json
  test/end-to-end/codecept.conf.js
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/HearingRequest.js
  test/end-to-end/pages/HearingUrgency.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/NOCScreens/NocDetails.js
  test/end-to-end/pages/SOAScreens/CaseManagerConfidentialityCheck.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/AmendCaseDetails_test.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
  test/end-to-end/tests/CAMOAndSendMessage_test.js
  test/end-to-end/tests/CAManageOrderUploadOrder_test.js
  test/end-to-end/tests/CaseFlags_test.js
  test/end-to-end/tests/CaseNameChange_test.js
  test/end-to-end/tests/CreateHearings_test.js
  test/end-to-end/tests/FilterCase_test.js
  test/end-to-end/tests/ManageAndReviewDocuments_test.js
  test/end-to-end/tests/SolicitorDraftOrderBlankOrderFL404B.js
  test/end-to-end/tests/SolicitorDraftOrderPowerOfArrestFL406.js
  test/end-to-end/tests/SolicitorHWFinAWP_test.js
  test/end-to-end/tests/SolicitorHelpWithFeeSubmitAndPayCA_TS_test.js
  test/end-to-end/tests/SolicitorHelpWithFeeYESErrorMsg_test.js
  test/end-to-end/tests/SubmitAndPayCA_test.js
  test/end-to-end/tests/SubmitAndPayDO_test.js
  test/end-to-end/tests/WithdrawApplicationAsASolicitor_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1976

#1954 do not show further directions if required in few events
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1954

#1977 PR change
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 1 - Not in use anymore/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Page 2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - CA/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ServiceOfApplication/Serve application - DA/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1977

#2005 Enable Upload additional application in Prod for Solicitors
  definitions/private-law/json/CaseEvent/UploadApplication/CaseEvent-prod.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2005

#1970 PRL-5349-SDO-Checkbox-content-welsh-docmosis-changes
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1970

#1919 fixed issue FPET-897
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1919

#2007 Check application priority fix
  definitions/private-law/json/AuthorisationCaseEvent/AllegationsOfHarmRevised/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/HearingUrgency/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/AllegationsOfHarmRevised/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingUrgency/CaseEventToFields.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2007

#1955 2806 Pr
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Submit/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/ViewDraftDocument/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/E/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/Submit/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/ViewDraftDocument/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1955

#1939 prl_2692_Respondent_Solicitor_C7_Docmosis_Welsh
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Submit/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/ViewDraftDocument/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/E/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/ViewDraftDocument/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/Submit/CaseField.json
  definitions/private-law/json/CaseField/RespondentSolicitor/ViewDraftDocument/CaseField.json
  definitions/private-law/json/ComplexTypes/RespondentSolicitor/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1939

#2000 Fixed SNI-5522
  definitions/private-law/json/CaseEvent/Order/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-prod.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2000

#2029 ignore functional tests to release hot fix for business
  package.json
Labels: enable_keep_helm

#1922 PRL-5266-CA-List-without-notice
  definitions/private-law/json/AuthorisationCaseField/ListWithoutNotice/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1922

#2037 Prl 5481 investigate tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  env.json
  test/end-to-end/pages/CreateCase.js
  test/end-to-end/pages/Login.js
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
  test/end-to-end/pages/ManageDocumentsScreens/ManageDocuments.js
  test/end-to-end/pages/MoveCaseToGateKeeping.js
  test/end-to-end/steps_file.js
  test/end-to-end/tests/AmendCaseDetails_test.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
  test/end-to-end/tests/CAMOAndSendMessage_test.js
  test/end-to-end/tests/CAManageOrderUploadOrder_test.js
  test/end-to-end/tests/CreateHearings_test.js
  test/end-to-end/tests/FilterCase_test.js
  test/end-to-end/tests/ManageAndReviewDocuments_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2037

#2033 Role assignment pointing to AAT
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-preview.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2033

#2042 disable WA
  charts/prl-ccd-definitions/values.preview.template.yaml
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2042

#2013 Feature/PRL-5457-wa-awp
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/UploadAdditionalApplications/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/ListWithoutNotice/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/UploadApplication/CaseEvent-prod.json
  definitions/private-law/json/CaseEvent/UploadApplication/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/UploadAdditionalApplications/C2DocumentBundle/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/UploadAdditionalApplications/OtherDocumentBundle/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/UploadAdditionalApplications/Page 1/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2013

#1903 Add functional tests
  env.json
  test/end-to-end/tests/CAGenerateRespondentC8.js
  yarn-audit-known-issue
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1903

#1933 [DUMMY PR - DO NOT MERGE] - PRL-5063: AoH - Single child - citizen
  definitions/private-law/json/CaseEventToFields/ViewPdfApplication/CaseEventToFields.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1933

#1997 PRL-5411
  definitions/private-law/json/CaseEvent/UploadApplication/CaseEvent-prod.json
  definitions/private-law/json/CaseEventToFields/ViewPdfApplication/CaseEventToFields.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1997

#2046 Soa common branch with contact preferences
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401RespondentDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/Applicant/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401Applicant/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/FL401Respondent/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/Respondent/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2046

#2064 Split tests and fix flaky tests
  env.json
  package.json
  test/end-to-end/pages/MOScreens/ManageOrders.js
  test/end-to-end/pages/MOScreens/manageOrderConfig.json
  test/end-to-end/pages/MoveCaseToGateKeeping.js
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
  test/end-to-end/tests/CAManageOrderUploadOrder_test.js
  test/end-to-end/tests/CaseFlags_test.js
  test/end-to-end/tests/CreateHearings_test.js
  test/end-to-end/tests/ManageAndReviewDocuments_test.js
  test/end-to-end/tests/SubmitAndPayCA_test.js
  test/end-to-end/tests/SubmitAndPayDO_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2064

#2052 Fix/citizen concurrency link case
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2052

#2069 suppress warnings
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2069
