Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-12, with the labels that each got.

#2532 SNI-6902: Show respondent solicitor name on response statement of truth
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Submit/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/B/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/C/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/D/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RespondentSolicitor/Submit/E/CaseEventToFields.json
  definitions/private-law/json/CaseField/RespondentSolicitor/Submit/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2532

#2497 FPET-1179 case flag updates
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2497

#2440 Cafcass & Pathfinder WA Task changes
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ClosingCases/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Pathfinder/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReopenClosedCases/AuthorisationCaseEvent-preview.json
  definitions/private-law/json/AuthorisationCaseEvent/ReopenClosedCases/AuthorisationCaseEvent-prod.json
  definitions/private-law/json/AuthorisationCaseEvent/ReopenClosedCases/AuthorisationCaseEvent-sublive.json
  definitions/private-law/json/AuthorisationCaseField/ClosingCases/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Pathfinder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReopenClosedCases/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SummaryTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEvent/ClosingCases/CaseEvent.json
  definitions/private-law/json/CaseEvent/Pathfinder/CaseEvent.json
  definitions/private-law/json/CaseEvent/ReopenClosedCases/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/ClosingCases/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/CafcassDocumentUpload/WA Field/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ClosingCases/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ClosingCases/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/Pathfinder/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ReopenClosedCases/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseField/ClosingCases/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/Pathfinder/CaseField.json
  definitions/private-law/json/CaseField/ReopenClosedCases/CaseField.json
  definitions/private-law/json/CaseField/SummaryTab/CaseField.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ApplicantFamily/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ChildDetailsRevisedExtraInfo/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ChildExtraInfo/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Child/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ChildDetailsRevised/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ClosingCases/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/FL401ApplicantChildDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/CaseClosedDate/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2440

#2523 prl-6704/adding_text_to_order_screen
  definitions/private-law/json/AuthorisationCaseField/ManageOrderServeOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 28 - CA(Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2523

#2508 prl-6597/statements_of_service_updates
  definitions/private-law/json/CaseEvent/CaseEvent.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2508

#2515 PRL-6564 Hearing status change notification to court admin
  definitions/private-law/json/AuthorisationCaseField/HearingTaskData/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseField/HearingTaskData/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2515

#2541 CA DA Tech handover - High/Medium priority issue fixes
  definitions/private-law/json/AuthorisationCaseField/HearingTaskData/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrderServeOrder/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 28 - CA(Serve Order)/CaseEventToFields.json
  definitions/private-law/json/CaseField/HearingTaskData/CaseField.json
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2541

#2530 Cafcass user access
  definitions/private-law/json/AuthorisationCaseField/AllegationsOfHarmRevised/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Bulkprint/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Bulkscan/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C1ADocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CourtNav/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/EditAndApprove/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/FL401UploadDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/FinalDocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Fl401ListOnNotice/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersAmendOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrdersUploadOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/MiamPolicyUpgrade/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/AllegationsOfHarm/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/AllegationsOfHarmOld/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/CaseDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/OtherProceedings/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/RespondToAllegationsOfHarm/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Submit/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/ViewDraftDocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReviewDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ServiceOfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/StatementOfService/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SubmitAndPay/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/UploadAdditionalApplications/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ViewPdfApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/citizen/CitizenResponseC7Documents/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/citizen/CitizenUploadedDocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseType.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2530

#2293 PRL-5604: Enable options 3 and 4 in manage orders to be appear under specific conditions only
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/HearingData/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/HearingData/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page19 -Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/HearingData/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2293

#2109 hearingID
  definitions/private-law/json/ComplexTypes/HearingData/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2109

#2539 Bug fixes for courtnav
  definitions/private-law/json/CaseTypeTab/ApplicationTab/Fl401ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/HomeDetails/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2539
