Repository hmcts/prl-ccd-definitions, pull requests merged in 2024-05, with the labels that each got.

#2175 Setup new user role for Urgent case
  definitions/private-law/json/AuthorisationCaseEvent/TestingSupport/CourtAdminCreate/AuthorisationCaseEvent-nonprod.json
  definitions/private-law/json/AuthorisationCaseEvent/adminCreate/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseState.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-preview.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-prod.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
  env.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2175

#2158 Feature/nudge fm5 reminder notification solicitors
  definitions/private-law/json/AuthorisationCaseField/Notifications/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/Notifications/CaseField.json
  definitions/private-law/json/ComplexTypes/Notifications/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2158

#2174 updated post state of migration event
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
  test/end-to-end/pages/Miam.js
  test/end-to-end/pages/StatementOfTruth.js
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2174

#2127 SNI-5678 loss of order changes
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Preambles/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseField/DraftAnOrder/SDO/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  env.json
  test/end-to-end/tests/C43OrderAndGateKeepingState_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2127

#2182 fixed SNI-5800 Update Hearing Actuals task is not creating
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2182

#2135 Feature/prl 5457 wa awp new
  definitions/private-law/json/AuthorisationCaseEvent/TestingSupport/AdminCreate/AuthorisationCaseEvent-nonprod.json
  definitions/private-law/json/AuthorisationCaseEvent/UploadAdditionalApplications/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/internal/C100/CreateFlags/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/UploadAdditionalApplications/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/UploadApplication/CaseEvent.json
  definitions/private-law/json/CaseEvent/case-flags-2-1/internal/C100/CreateFlag/CaseEvent.json
  definitions/private-law/json/CaseEvent/case-flags-2-1/internal/FL401/CreateFlags/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/TestingSupport/AdminCreate/CaseEventToFields-nonprod.json
  definitions/private-law/json/CaseEventToFields/TestingSupport/SolicitorCreate/CaseEventToFields-nonprod.json
  definitions/private-law/json/CaseEventToFields/UploadAdditionalApplications/Page 1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/case-flags-2-1/internal/C100/CreateFlags/CaseEventToFields.json
  definitions/private-law/json/CaseField/UploadAdditionalApplications/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, AWP-Solicitor, enable_keep_helm, rel:prl-ccd-definitions-pr-2135

#2179 Sni 5782 edit order previous button fix
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/SDO/Preambles/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2179

#2084 FPET-943 Fixed CVE issues
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2084

#2201 Feature/PRL-5566 - FM5 system rules & reminders for citizen
  definitions/private-law/json/AuthorisationCaseEvent/Fm5Notification/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/Notifications/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/Fm5Notification/CaseEvent.json
  definitions/private-law/json/CaseField/Notifications/CaseField.json
  definitions/private-law/json/ComplexTypes/Notifications/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2201

#1971 FPET-412
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
  test/end-to-end/pages/ApplicantDetails.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1971

#2202 fixhealth-check : Added health check
  Dockerfile
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2202

#2178 FPET-961: updated PR
  README.md
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/amend/CaseEventToComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2178

#1770 FPET-488: Solicitor child details changes
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1770

#2206 fix/update-angular-js
  package-lock.json
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2206

#2193 Code Owners file
  CODEOWNERS
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2193

#2212 removed hardcoded creds for saucelabs in nightly jenkins file
  .gitignore
  Jenkinsfile_nightly
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2212

#2191 Respondent respond to AOH
  definitions/private-law/json/AuthorisationCaseEvent/Pcq/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Respondent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/Pcq/CaseEvent.json
  definitions/private-law/json/CaseEvent/c100ResCitizen/CaseEvent.json
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/User/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2191

#2192 C100 ITHC Vulnerabilities fix
  CODEOWNERS
  Dockerfile
  env.json
  package-lock.json
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2192

#2218 Changed the CA tasks tab order to make summary tab as first one
  definitions/private-law/json/CaseTypeTab/CourtAdminTasklistTab/CaseTypeTab.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2218

#2199 MIAM Citizen Policy Change: Backend Mapping work
  definitions/private-law/json/AuthorisationCaseEvent/Pcq/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/Respondent/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/Pcq/CaseEvent.json
  definitions/private-law/json/CaseEvent/c100ResCitizen/CaseEvent.json
  definitions/private-law/json/CaseField/MiamPolicyUpgrade/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Citizen/Response/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/User/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/MiamPolicyUpgrade/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2199

#2133 PRL-5565 - Feature Nudge/FM5 solicitor reminder changes
  definitions/private-law/json/AuthorisationCaseEvent/Fm5Notification/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Notifications/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/Fm5Notification/CaseEvent.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/CaseField/Notifications/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Notifications/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2133

#2204 Court nav case assignment to court
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Court/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/Lrd/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/TestingSupport/CaseEvent-nonprod.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2204

#1991 FPET-909 enabled error messages for CA case
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToFields/DraftAnOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page3/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1991

#1958 env json updated
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page10-C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page11-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page7-C43/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page8-C45A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page9-C43A/CaseEventToFields.json
  definitions/private-law/json/ComplexTypes/ManageOrders/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1958

#1999 FPET-913
  definitions/private-law/json/CaseEventToFields/DraftOrderAdmin/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/EditReturnedOrder/Page3/CaseEventToFields.json
  env.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-1999
