Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-07, with the labels that each got.

#2792 FPVTL-917: Add same permissions for judge/la as courtadmin to new field
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2792

#2783 FPVTL-8: Add Remove documents event
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/RemoveDocuments/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/RemoveDocuments/CaseEventToFields.json
  definitions/private-law/json/CaseField/RemoveDocuments/CaseField.json
  definitions/private-law/json/ComplexTypes/RemovableDocument/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2783

#2780 Fpvtl 558 edit and serve order
  Jenkinsfile_CNP
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/HearingEditAndApproveOrder/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReadOnlyUserAuth/AuthorisationCaseEvent.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/Order/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/C43A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/FL404/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/HearingData/CourtAdmin/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/SDO/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/SDO/SdoDirectionFactFindingHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/HearingEditAndApproveOrder/ServeOrder/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page1/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page10-C47A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page11-N117/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page13-FL402/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page14-Hearing Data-solicitor-NotInUse/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page15-HearingData/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page16-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page17-SDO/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page20/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page21/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page22/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page23/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page4/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page5/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page6/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page7-C43/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page8-C45A/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/HearingEditAndApproveOrder/Page9-C43A/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, pr-values:wa, rel:prl-ccd-definitions-pr-2780

#2796 Increase definition store memory in preview
  charts/prl-ccd-definitions/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2796

#2794 FPVTL-921: Always show estimated time fields in manage orders when making an SDO
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoDirectionFactFindingHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/WaManageOrders/SDO/SdoDirectionFactFindingHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/WaManageOrders/SDO/SdoDraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/WaManageOrders/SDO/SdoFhdraHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/WaManageOrders/SDO/SdoPermissionHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/WaManageOrders/SDO/SdoSecondHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/WaManageOrders/SDO/SdoSettlementConfrenceHearingDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/WaManageOrders/SDO/SdoUrgentHearingDetails/CaseEventToComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2794

#2811 Disable remove docs event
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2811

#2821 FPVTL-507A: cve suppressions
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2821
