Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-06, with the labels that each got.

#2749 FPVTL-626
  definitions/private-law/json/AuthorisationCaseEvent/Migration/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ReturnToPreviousState/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/ReturnToPreviousState/CaseEventToFields.json
  definitions/private-law/json/CaseField/ReturnToPreviousState/CaseField.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2749

#2769 FPVTL-766
  charts/prl-ccd-definitions/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2769

#2764 FPVTL-498: 'Review Language and SM requirements' task update
  Jenkinsfile_CNP
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AddCaseNote/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/internal/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/case-flags-2-1/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/case-flags-2-1/ReviewedCaseFlag/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseField/case-flags-2-1/reviewLangAndSmReq/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, pr-values:wa, rel:prl-ccd-definitions-pr-2764

#2776 FPVTL-498: On preview reverting DMN branch to master
  Jenkinsfile_CNP
  charts/prl-ccd-definitions/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2776

#2784 FPVTL-611 Move to azure artefacts
  build.gradle
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2784
