Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-03, with the labels that each got.

#2598 FPVTL-54: change the target case state in the migration event to PREPARE_FOR_HEARING_CONDUCT_HEARING
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2598

#2599 FPVTL-58: Remove documents named Brigham
  Jenkinsfile_CNP
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2599

#2527 FPET-1202
  env.json
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2527

#2592 SNI-7168-Remove gatekeeping condition for sols
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseEvent/CaseEvent.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2592, enable-prl-e2e-tests

#2615 FPVTL-77: Fix test
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, enable-prl-e2e-tests, rel:prl-ccd-definitions-pr-2615

#2319 prl-5641/edge-cases-new-orders
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2319

#2630 Revert "FPVTL-77: Fix test"
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/ManageDocuments/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2630

#2618 FPET-1295
  Jenkinsfile_CNP
  definitions/private-law/json/AuthorisationCaseEvent/FL401StatementOfTruthAndSubmit/AuthorisationCaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2618

#2636 PRL-3849 RWA-4075 changed work allocation role to restricted
  charts/prl-ccd-definitions/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2636

#2640 FPVTL-169: reverted jenkins change
  Jenkinsfile_CNP
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2640

#2649 FPVTL-103 needs preview stuff
  charts/prl-ccd-definitions/values.preview.template.yaml
  env.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2649

#2573 Disable nightly tests
  Jenkinsfile_nightly
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2573

#2058 enabling options 3 and 4 ...
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ManageOrders/HearingData/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/DraftOrderAdmin/HearingData/CourtAdmin/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/EditAndApprove/HearingData/CourtAdmin/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ManageOrders/HearingData/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/EditAndApprove/Page2/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 1 - Common/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 22 - Amend Order (2)/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page19 -Hearing Data/CaseEventToFields.json
  definitions/private-law/json/CaseField/EditAndApprove/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/CaseField/ManageOrders/HearingData/CaseField.json
  definitions/private-law/json/ComplexTypes/HearingData/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FL400-DraftOrder/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/OrderDetails/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2058, enable-prl-e2e-tests
