Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-01, with the labels that each got.

#2544 SNI-6967 Change Familyman number
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2544

#2429 C8 refuge epic
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/refuge/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401ApplicantDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/FL401RespondentDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherPeopleInTheCaseRevised/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherPeopleInTheCaseRevised/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/A/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/B/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/C/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/D/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentSolicitor/ConfirmOrEditDetails/E/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/RespondentsDetails/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToFields/ConfidentialityCheckNew/CaseEventToFields.json
  definitions/private-law/json/CaseField/ConfidentialityCheck/CaseField.json
  definitions/private-law/json/CaseField/SummaryTab/CaseField.json
  definitions/private-law/json/CaseField/refuge/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/OtherPersonInTheCaseRevised/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/CitizenDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/Citizen/RespondentSolicitor/ConfirmEditContactDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/SummaryTab/RefugeCase/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/refuge/ComplexTypes.json
  env.json
  test/end-to-end/pages/ApplicantDetails.js
  test/end-to-end/pages/OtherPeopleInTheCase.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2429

#2493 Enable Not applicable
  definitions/private-law/json/CaseField/ManageOrderServeOrder/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/OrderDetails/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2493

#2557 Deploy service of documents
  definitions/private-law/json/CaseEvent/ServiceOfDocuments/CaseEvent-prod.json
Labels: ns:private-law, prd:prl

#2559 Updated with cafcass permissions
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/BundlesTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ConfidentialityCheck/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/QuarantineTab/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/CaseDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/ConfirmDetails/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SendOrReplyToMessages/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/UploadAdditionalApplications/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/fl401OtherProceedings/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/refuge/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationComplexType.json
Labels: ns:private-law, prd:prl, enable_keep_helm

#2514 Feature/restricted case access test feature
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
  test/functional/steps_file.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2514

#2534 FPET-1216 C8 changes for other people in the case
  definitions/private-law/json/AuthorisationCaseField/ApplicationTab/AuthorisationCaseField.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherPeopleInTheCaseRevised/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseEventToComplexTypes/OtherPeopleInTheCaseRevised/amend/CaseEventToComplexTypes.json
  definitions/private-law/json/CaseTypeTab/ApplicationTab/C100ApplicationTab/CaseTypeTab.json
  definitions/private-law/json/CaseTypeTab/PartiesTab/CaseTypeTab.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/ChildrenAndOtherPeople/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ApplicationTab/OtherPersonInTheCaseRevised/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ChildrenAndOtherPeople/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ConfidentialityTab/Child/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/PartyDetails/ComplexTypes.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2534

#2480 RCAM Prod PR
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/RestrictedCaseAccess/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/AuthorisationCaseField-prod.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsPrivate/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsPublic/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsRestricted/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/RestrictedCaseAccess/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsPrivate/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsPublic/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsRestricted/CaseEventToFields.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/CaseField-prod.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsPrivate/CaseField.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsPublic/CaseField.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsRestricted/CaseField.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab-rcam-spec.json
  env.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
  test/functional/steps_file.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2480

#2565 Remove codecept tests and run tests in prl-e2e-test repo in master build
  Jenkinsfile_CNP
  env.json
  package.json
Labels: ns:private-law, prd:prl, enable_keep_helm

#2566 Release 6.0 additional changes
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/RestrictedCaseAccess/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/AuthorisationCaseField-prod.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsPrivate/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsPublic/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RestrictedCaseAccess/markAsRestricted/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/RestrictedCaseAccess/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsPrivate/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsPublic/CaseEventToFields.json
  definitions/private-law/json/CaseEventToFields/RestrictedCaseAccess/markAsRestricted/CaseEventToFields.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/CaseField-prod.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsPrivate/CaseField.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsPublic/CaseField.json
  definitions/private-law/json/CaseField/RestrictedCaseAccess/markAsRestricted/CaseField.json
  definitions/private-law/json/CaseTypeTab/SummaryTab/CaseTypeTab-rcam-spec.json
  env.json
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
  test/functional/admin_test.js
  test/functional/steps_file.js
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable_keep_helm
