Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-08, with the labels that each got.

#2823 FPVTL-cleanup preview
  charts/prl-ccd-definitions/values.preview.template.yaml
  env.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2823

#2807 FPTVL 939 CUI-C8-Archiving Functionality
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/C8Document/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2807

#2827 FPVTL-Cleanup preview after STC merge
  charts/prl-ccd-definitions/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2827

#2830 FPVTL-1042 point to wa change
  charts/prl-ccd-definitions/values.wa.preview.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, pr-values:wa, rel:prl-ccd-definitions-pr-2830

#2791 FPVTL-915: Enabling Hearing bypass on preview
  README.md
  charts/prl-ccd-definitions/values.preview.template.yaml
  env.json
  test/resource/hearing/sampleListedHearing.json
Labels: ns:private-law, prd:prl, enable_keep_helm, pr-values:wa, rel:prl-ccd-definitions-pr-2791

#2835 FPVTL-915: Revert preview cos to latest image
  charts/prl-ccd-definitions/values.preview.template.yaml
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2835

#2822 FPVTL-982 point at latest pr with fix for remove docs
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/RemoveDocuments/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2822
