Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-09, with the labels that each got.

#2829 FPVTL-876: setup Barrister events
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseEvent/Barrister/AuthorisationCaseEvent-nonprod.json
  definitions/private-law/json/AuthorisationCaseEvent/DraftAnOrder/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/EditReturnedOrder/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ManageDocuments/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/ServiceOfDocuments/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/SolicitorStopRepresenting/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/StatementOfService/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/external/C100/ManageSupport/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/external/C100/RequestSupport/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/external/FL401/ManageSupport/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseEvent/case-flags-2-1/external/FL401/RequestSupport/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/DraftAnOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/EditAndApprove/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/EditReturnedOrder/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/NoticeOfChange/OrganisationPolicy/caApplicant/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/NoticeOfChange/OrganisationPolicy/caRespondent/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/AbilityToPartcipateInProceedings/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/AllegationsOfHarm/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/AllegationsOfHarmOld/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/AttendingToCourt/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/CaseDocuments/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/ConfirmDetails/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/ConsentToApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/InternationalElement/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/KeepDetailsPrivate/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Miam/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/OtherProceedings/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/RespondToAllegationsOfHarm/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/RespondToApplication/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/Submit/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/RespondentSolicitor/ViewDraftDocument/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SolicitorStopRepresenting/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/external/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/external/C100/caApplicant/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/external/C100/caApplicantSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/external/C100/caRespondent/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/external/C100/caRespondentSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/external/FL401/daApplicantSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/external/FL401/daRespondentSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/case-flags-2-1/internal/C100/caApplicantSolicitor/AuthorisationCaseField.json
  definitions/private-law/json/CaseRoles.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-preview.json
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, pr-values:wa, rel:prl-ccd-definitions-pr-2829

#2846 FPVTL-1018 - Create barrister's remove barrister event
  definitions/private-law/json/AuthorisationCaseEvent/Barrister/AuthorisationCaseEvent-nonprod.json
  definitions/private-law/json/CaseEvent/Barrister/CaseEvent-nonprod.json
  definitions/private-law/json/CaseEventToComplexTypes/Barrister/CaseEventToComplexTypes-nonprod.json
  definitions/private-law/json/CaseEventToFields/Barrister/CaseEventToFields-nonprod.json
Labels: ns:private-law, prd:prl, enable_keep_helm, pr-values:wa, rel:prl-ccd-definitions-pr-2846

#2817 FPVTL-979 Make OrderCollection searchable
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  charts/prl-ccd-definitions/values.yaml
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/OrderDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2817

#2872 FPVTL 1043 : Add Tier of Judge to Order Collection
  definitions/private-law/json/AuthorisationComplexType/OrderCollection/AuthorisationComplexType.json
  definitions/private-law/json/CaseField/ManageOrders/CaseField.json
  definitions/private-law/json/ComplexTypes/ManageOrders/FinalisationJudgeDetails/ComplexTypes.json
  definitions/private-law/json/ComplexTypes/ManageOrders/OrderDetails/ComplexTypes.json
Labels: ns:private-law, prd:prl, enable_keep_helm, pr-values:wa, rel:prl-ccd-definitions-pr-2872
