Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-02, with the labels that each got.

#2570 PRL-6932
  definitions/private-law/json/CaseEvent/RestrictedCaseAccess/CaseEvent.json
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2570

#2571 removed validations
  definitions/private-law/json/ComplexTypes/Home/ComplexTypes.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2571

#2574 DA applicant contact information
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2574

#2575 prl-6815/applicant c8 signed changes
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseField.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2575

#2578 *****Tranche2 release**** DO NOT MERGE ****
  definitions/private-law/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/private-law/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/private-law/json/CaseEvent/CaseEvent.json
  definitions/private-law/json/CaseEventToFields/CaseEventToFields.json
  definitions/private-law/json/CaseField/CaseField.json
  definitions/private-law/json/CaseTypeTab/ConfidentialTab/CaseTypeTab.json
  env.json
  test/end-to-end/pages/CreateCase.js
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2578

#2595 SNI-7210: Migrating 1734374821838612 to withdrawn
  Dockerfile
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  charts/prl-ccd-definitions/values.yaml
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  env.json
  package.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2595

#2605 FPVTL-61: Removed staging node image
  charts/prl-ccd-definitions/values.aat.template.yaml
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2605

#2600 add prl-cos to preview
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.aat.template.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  charts/prl-ccd-definitions/values.yaml
  env.json
  json-env.js
  src/main/java/uk/gov/hmcts/reform/prl/HighLevelDataSetupApp.java
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2600

#2610 Another fix to pass generating preview definition in master (thought its unused)
  json-env.js
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2610

#2609 FPVTL-78 remove e2e as default for prs add label "enable-prl-e2e-tests"
  Jenkinsfile_CNP
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2609

#2607 FPVTL-80 put a limit on renovate rebuilds
  .github/stale.yml
  renovate.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2607
