Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-05, with the labels that each got.

#2720 FPVTL110 Update PostConditionState to PROCEEDS_IN_HERITAGE_SYSTEM
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2720

#2730 FPVTL-638 Set state for case migration
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2730

#2710 FPVTL-563: Setup WA preview environment for PRL
  Jenkinsfile_CNP
  README.md
  bin/add-role-assignments.sh
  bin/import-dmn-diagram.sh
  bin/pull-camunda-bpmn-files.sh
  bin/pull-latest-dmn-files.sh
  bin/utils/idam-lease-service-token.sh
  bin/utils/idam-lease-user-token.sh
  bin/utils/idam-user-id.sh
  bin/utils/organisational-role-assignment.sh
  bin/variables/load-preview-environment-variables.sh
  charts/prl-ccd-definitions/Chart.yaml
  charts/prl-ccd-definitions/values.preview.template.yaml
  charts/prl-ccd-definitions/values.wa.preview.template.yaml
  charts/prl-ccd-definitions/values.yaml
  config/preview-am-role-assignments.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2710, pr-values:wa

#2747 FPVTL-605 Add hearing viewer roles to systemupdate user
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2747

#2753 FPVTL-605 fix broken access roles
  definitions/private-law/json/RoleToAccessProfiles/RoleToAccessProfiles-sublive.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2753

#2758 FPVTP-499: Reverting dmn branch to master
  Jenkinsfile_CNP
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2758
