Repository hmcts/prl-ccd-definitions, pull requests merged in 2025-04, with the labels that each got.

#2663 FPVTL-511 Fix Pipeline
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, enable-prl-e2e-tests, rel:prl-ccd-definitions-pr-2663

#2648 Fpvtl 63 revert offline court change
  definitions/private-law/json/CaseEvent/Migration/CaseEvent.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2648

#2657 FPVTL-68 Child Impact Report folder
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/AuthorisationCaseField/CaseFileView/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/ReadOnlyUserAuth/AuthorisationCaseField.json
  definitions/private-law/json/AuthorisationCaseField/SystemUpdateAuth/AuthorisationCaseField.json
  definitions/private-law/json/CaseField/CaseFileView/CaseField.json
  definitions/private-law/json/Categories/CaseFileView/Categories.json
  definitions/private-law/json/ComplexTypes/Quarantine/ComplexTypes.json
  definitions/private-law/json/FixedLists.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2657

#2682 FPVTL-68 fix put back childimpactreport
  definitions/private-law/json/FixedLists.json
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2682

#2695 Update path-to-regexp to a non-vulnerable version
  package.json
  yarn.lock
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2695

#2705 FPVTL-569
  Jenkinsfile_CNP
  README.md
Labels: ns:private-law, prd:prl, enable_keep_helm, enable-prl-e2e-tests, rel:prl-ccd-definitions-pr-2705

#2706 Revert changes from FPVTL-569
  Jenkinsfile_CNP
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2706

#2708 FPVTL-569 - Disable functional tests for master branch
  Jenkinsfile_CNP
  README.md
  package.json
Labels: ns:private-law, prd:prl, enable_keep_helm, enable-prl-e2e-tests, rel:prl-ccd-definitions-pr-2708

#2715 Fix vulnerabilities
  charts/prl-ccd-definitions/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:private-law, prd:prl, rel:prl-ccd-definitions-pr-2715

#2671 FPVTL-488: Add Screen for Capturing 'Title of the Judge' in Upload Or…
  charts/prl-ccd-definitions/values.preview.template.yaml
  definitions/private-law/json/CaseEventToFields/ManageOrders/Page 5 - Common/CaseEventToFields.json
  env.json
Labels: ns:private-law, prd:prl, enable_keep_helm, rel:prl-ccd-definitions-pr-2671
